<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>장바구니</h2>
<!-- 체크박스 전체 여부 -->
<div class="all_check_input_div">
    <input type="checkbox" class="all_check_input input_size_20" checked="checked"><span
        class="all_chcek_span">전체선택</span>
</div>
<table th:each="cart : ${cartList}">
    <tr>
        <th>선택</th>
        <th>상품</th>
        <th>원가</th>
        <th>할인율</th>
        <th>인터넷할인가</th>
        <th>수량</th>
        <th>썸네일</th>
        <th>상품별 총 금액</th>
        <th>관심상품</th>
        <th>삭제</th>
    </tr>
    <tr>
        <td class="cart_info_td">
            <input type="hidden" class="individual_totalPrice_input"
                   th:value="${cart.cartQty * cart.productPrice}"></div>
            <input type="checkbox" class="individual_cart_checkbox input_size_20" checked="checked">
            <input type="hidden" class="individual_cartId_input" th:value="${cart.cartId}">
            <input type="hidden" class="individual_productId_input" th:value="${cart.productId}">
            <input type="hidden" class="individual_cartId_input" th:value="${cart.cartId}">
            <input type="hidden" class="individual_cartQty_input" th:value="${cart.cartQty}">
            <input type="hidden" class="individual_memberId_input" th:value="${cart.memberId}">
            <input type="hidden" class="individual_productName_input" th:value="${cart.productName}">
            <input type="hidden" class="individual_productOriginalPrice_input" th:value="${cart.productOriginalPrice}">
            <input type="hidden" class="individual_productDiscount_input" th:value="${cart.productDiscount}">
            <input type="hidden" class="individual_productPrice_input" th:value="${cart.productPrice}">
            <input type="hidden" class="individual_productThumbnail_input" th:value="${cart.productThumbnail}">
        </td>
        <td><a th:href="@{|/product/detail/${cart.productId}|}" th:text="${cart.productName}"></a></td>
        <td><STRIKE th:text="${cart.productOriginalPrice}"></STRIKE></td>
        <td th:text="${cart.productDiscount}"></td>
        <td th:text="${cart.productPrice}" id="productPrice" th:value="${cart.productPrice}"></td>
        <td>
            <button th:onclick="'minusBtn(' + ${cart.cartId} + ')'" class="minus_btn"> -</button>
            <input type="text" class="quantity_input" th:id="${cart.cartId}" th:value="${cart.cartQty}">
            <button th:onclick="'plusBtn(' + ${cart.cartId} + ')'" class="plus_btn"> +</button>
        </td>

        <td><img th:src="@{|/upload/${cart.productThumbnail}|}" width="100" height="100" alt=""></td>
        <td th:text="${cart.cartQty*cart.productPrice}"></td>
    </tr>
</table>

<span class="total"></span>

<div th:each="cart : ${cartList}">
    <form th:action="@{|/order/${cart.memberId}|}" method="get" class="order_form"></form>
</div>
<div class="content_btn_section">
    <button class="order_btn">주문하기</button>
</div>

</body>
<script th:inline="javascript" th:each="cart: ${cartList}">
    //상품수량 수정 (더하기)
    function plusBtn(cartId) {
        let quantity = document.getElementById(cartId).value;
        quantity = ++quantity;
        document.getElementById(cartId).value = quantity;
        const id = [[${cart.cartId}]];
        const updateData = JSON.stringify({ //stringify = josn으로 변환해주는 역할
            cartId: cartId,
            cartQty: quantity
        });
        $.ajax({
            type: "post",
            data: updateData,
            url: "/cart/update/",
            contentType: "application/json",
            success: function () {
                location.reload();
            },
            error: function () {
                alert("ajax 실패");
            }
        });
    }

    //상품수량 수정 (빼기)
    function minusBtn(cartId) {
        let quantity = document.getElementById(cartId).value;
        if (quantity > 1) {
            quantity = --quantity;
            document.getElementById(cartId).value = quantity;
            const id = [[${cart.cartId}]];
            const updateData = JSON.stringify({ //stringify = josn으로 변환해주는 역할
                cartId: cartId,
                cartQty: quantity
            });
            $.ajax({
                type: "post",
                data: updateData,
                url: "/cart/update/",
                contentType: "application/json",
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("ajax 실패");
                }
            });
        }
    }

    $(document).ready(function () {
        setTotalInfo();
    });
    /* 체크여부에따른 종합 정보 변화 */
    $(".individual_cart_checkbox").on("change", function () {
        /* 총 주문 정보 세팅(총 가격) */
        setTotalInfo($(".cart_info_td"));
    });

    function setTotalInfo() {
        let totalPrice = 0;
        $(".cart_info_td").each(function (index, element) {
            if ($(element).find(".individual_cart_checkbox").is(":checked") === true) {	//체크여부
                // 총 가격
                totalPrice += parseFloat($(element).find(".individual_totalPrice_input").val());
            }
        });
        $(".total").text("총금액: " + totalPrice.toLocaleString());
    }

    //체크박스 전체 선택
    $(".all_check_input").on("click", function () {
        //체크박스 선택 & 해제
        if ($(".all_check_input").prop("checked")) {
            $(".individual_cart_checkbox").prop('checked', true);
        } else {
            $(".individual_cart_checkbox").prop('checked', false);
        }
        setTotalInfo($(".cart_info_td"));
    });
    //주문페이지로 이동
    $(".order_btn").on("click", function () {
        let form_contents = '';
        let orderNumber = 0;
        $(".cart_info_td").each(function (index, element) {
            if ($(element).find(".individual_cart_checkbox").is(":checked") === true) {	//체크여부
                let cartId = $(element).find(".individual_cartId_input").val();
                let cartQty = $(element).find(".individual_cartQty_input").val();
                let productId = $(element).find(".individual_productId_input").val();
                let memberId = $(element).find(".individual_memberId_input").val();
                let productName = $(element).find(".individual_productName_input").val();
                let productOriginalPrice = $(element).find(".individual_productOriginalPrice_input").val();
                let productDiscount = $(element).find(".individual_productDiscount_input").val();
                let productPrice = $(element).find(".individual_productPrice_input").val();
                let productThumbnail = $(element).find(".individual_productThumbnail_input").val();

                let cartId_input = "<input name='carts[" + orderNumber + "].cartId' type='hidden' value='" + cartId + "'>";
                form_contents += cartId_input;
                let cartQty_input = "<input name='carts[" + orderNumber + "].cartQty' type='hidden' value='" + cartQty + "'>";
                form_contents += cartQty_input;
                let productId_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productId + "'>";
                form_contents += productId_input;
                let memberId_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + memberId + "'>";
                form_contents += memberId_input;
                let productName_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productName + "'>";
                form_contents += productName_input;
                let productOriginalPrice_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productOriginalPrice + "'>";
                form_contents += productOriginalPrice_input;
                let productDiscount_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productDiscount + "'>";
                form_contents += productDiscount_input;
                let productPrice_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productPrice + "'>";
                form_contents += productPrice_input;
                let productThumbnail_input = "<input name='carts[" + orderNumber + "].productId' type='hidden' value='" + productThumbnail + "'>";
                form_contents += productThumbnail_input;
                orderNumber += 1;
            }
        });
        $(".order_form").html(form_contents);
        $(".order_form").submit();
    });

    //장바구니에 담겨있는 상품 찜하기
    function saveWish() {
        if ([[${session.loginEmail}]] == null) {
            alert("로그인 후 찜하실 수 있습니다");
            location.href = "/member/login";
        } else {
            let memberId = [[${session.loginId}]];
            let productId = [[${cart.productId}]];
            $.ajax({
                type: "post",
                url: "/product/like",
                data: {
                    "memberId": memberId,
                    "productId": productId
                },
                dataType: "text",
                success: function (result) {
                    alert("찜하기 성공")
                    location.reload();
                }, error: function () {
                    alert("찜하기 실패")
                    location.reload();
                }
            })
        }
    }
    //장바구니 개별삭제
    const deleteCart = (cartId) => {
        location.href = "/cart/delete/" + cartId;
    }
</script>
</html>