<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberDeleteMyself</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all"/>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<th:block th:replace="include/myPageHeader :: myPageHeader"></th:block>
<div id="wrap">
    <!-- mypage content -->
    <div class="mypage_content">
        <div class="left_box">
            <div class="tit">
                <p>MY행복</p>
            </div>
            <div class="box">
                <p>나의 주문 내역</p>
                <a href="/order/list">주문내역</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 혜택</p>
                <a href="/coupon/myCouponList">할인쿠폰</a>
                <a href="/point/findByMemberId">적립금</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 컨텐츠</p>
                <a href="/product/likeList">찜상품</a>
                <a th:href="@{|/review/findByMemberId/${session.loginId}|}">나의 후기</a>
                <a href="javascript:;">1:1 채팅</a>
            </div>
            <div class="box">
                <p>나의 회원 정보</p>
                <a href="/member/passwordCheckDetail">기본 정보 관리</a>
                <a href="/passport/save-form">여권 정보 관리</a>
                <a href="/departure/">출국 정보 관리</a>
                <a href="/member/passwordCheck">비밀번호 변경</a>
                <a href="/member/passwordCheckDelete">회원 탈퇴</a>
            </div>
        </div>
        <div class="right_box">
            <h1>회원탈퇴</h1>
            회원 탈퇴시 복구가 불가능합니다<br>
            정말 탈퇴하시겠습니까? <br>
            <a href="/myPageMain">이전</a>
            <button th:onclick="deleteMyself([[${session.loginId}]])">회원탈퇴</button>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function deleteMyself(loginId){
        console.log("함수호출")
        result = confirm("정말 탈퇴하시겠습니까?");
        if(result == true){
            location.href = "/member/deleteMyself";
        }
    }
</script>
</html>