<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberDetail</title>
</head>
<body>
<h1>회원정보입력</h1>
<table>
    <tr>
        <th>이메일</th>
        <th th:text="${member.memberEmail}"></th>
    </tr>
    <tr>
        <th>이름</th>
        <th th:text="${member.memberName}"></th>
    </tr>
    <tr>
        <th>생년월일</th>
        <th th:text="${member.memberBirth}"></th>
    </tr>
    <tr>
        <th>핸드폰번호</th>
        <th th:text="${member.memberMobile}"></th>
    </tr>
    <tr>
        <th>멤버쉽등급</th>
        <th th:text="${member.memberTier}"></th>
    </tr>
</table>
<a href="/myPageMain">이전</a>
</body>
</html>