<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>MemberFindEmail</title>
</head>
<body>
아이디찾기
<form action="/member/findEmail" method="post">
    <input type="text" name="memberMobile" id="memberMobile" placeholder="숫자만입력해주세요">
    <input type="button" value="인증하기" id="sendSMS" onclick="mobileCheck()">
    <input type="text" id="userNum" placeholder="인증번호입력">
    <input type="button" id="mobileCk" value="인증번호확인">
</form>
<form action="/member/findEmailResult" method="get" name="findEmailResultForm">
    <input type="hidden" name="memberMobile" id="memberMobileResult">
</form>
</body>
<script th:inline="javascript">
    function mobileCheck() {
        // 회원정보와 일치하는 핸드폰 번호 있는지 확인
        var memberMobile = document.getElementById("memberMobile").value;
        $.ajax({
            type: 'post',
            url: '/member/mobile-check',
            data: {"memberMobile": memberMobile},
            dataType: 'text',
            success: function (result) {
                console.log(result)
                if (result == "NO") {
                    alert("일치하는 회원정보가 없습니다.")
                } else {
                    // 일치하는 회원정보가 있을경우 인증문자 보내고 인증유무 확인

                        const memberMobile = $('#memberMobile').val();
                        $.ajax ({
                            url: '/member/sendSMS',
                            type: 'GET',
                            data: {"memberMobile" : memberMobile},
                            success: function(data) {
                                const checkNum = data;

                                console.log(checkNum)

                                alert('문자를 확인해주세요');

                                // 인증문자번호 확인 버튼 클릭시 호출
                                $('#mobileCk').click(function() {
                                    const userNum = $('#userNum').val();

                                    if(checkNum === userNum) {
                                        alert('인증 성공하였습니다.');
                                        // 인증성공했을시 아이디를 보여주는 화면으로 이동
                                        document.getElementById("memberMobileResult").value = memberMobile;
                                        findEmailResultForm.submit();
                                    }
                                    else {
                                        alert('인증 실패하였습니다. 다시 입력해주세요.');
                                    }
                                });
                            }
                        });
                }
            }, error: function () {
                alert("오류");
            }
        });
    }

</script>
</html>