<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberLogin</title>
</head>
<body>
<div>
    <form action="/member/login" method="post">
        <input type="text" name="memberEmail"><br>
        <input type="password" name="memberPassword"><br>
        <input type="submit" value="로그인"><br><br>
    </form>
</div>
<div>
    <a href="/member/findEmail">아이디찾기</a>
    <a href="/member/findPassword">비밀번호찾기</a><br>
</div>
<div>
    <span>sns 로그인</span>
    <a href="#">카카오톡로그인</a><br>
</div>
<div>
    <p>계정이 없으신가요?</p>
    <a href="/member/save">회원가입</a>
</div>
</body>
</html>