<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberPasswordReset</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <style>
        .type01{text-align:center; padding-top:100px;}
        table{margin:0 auto;}
        table tr th{padding:3px 0;}
        input[type="submit"]{background:#222; color:#fff; margin-top:10px; height:30px; padding:0 10px; box-sizing:border-box;}
    </style>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<div id="wrap" class="type01">
    <h1>비밀번호 재설정</h1>
    <form action="/member/passwordUpdate" method="post" name="passwordUpdateForm">
        <input type="hidden" name="memberId" id="memberId" th:value="${member.memberId}">
        <input type="hidden" name="memberEmail" th:value="${member.memberEmail}">
        <input type="hidden" name="memberName" th:value="${member.memberName}">
        <input type="hidden" name="memberBirth" th:value="${member.memberBirth}">
        <input type="hidden" name="memberMobile" th:value="${member.memberMobile}">
        <input type="hidden" name="memberTier" th:value="${member.memberTier}">
        <table>
            <tbody>
                <tr>
                    <th>새비밀번호</th>
                    <th><input type="password" name="memberPassword"></th>
                </tr>
                <tr>
                    <th>새비밀번호확인</th>
                    <th><input type="password"></th>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="확인">
    </form>
</div>

</body>
</html>