<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberPasswordReset</title>
</head>
<body>
<h1>비밀번호 재설정</h1>
<form action="/member/passwordUpdate" method="post" name="passwordUpdateForm">
    <input type="hidden" name="memberId" id="memberId" th:value="${member.memberId}">
    <input type="hidden" name="memberEmail" th:value="${member.memberEmail}">
    <input type="hidden" name="memberName" th:value="${member.memberName}">
    <input type="hidden" name="memberBirth" th:value="${member.memberBirth}">
    <input type="hidden" name="memberMobile" th:value="${member.memberMobile}">
    <input type="hidden" name="memberTier" th:value="${member.memberTier}">
    <table>
        <tr>
            <th>새비밀번호</th>
            <th><input type="password" name="memberPassword"></th>
        </tr>
        <tr>
            <th>새비밀번호확인</th>
            <th><input type="password"></th>
        </tr>
    </table>
    <input type="submit" value="확인">
</form>
</body>
</html>