<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>PasswordUpdate</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all"/>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<th:block th:replace="include/myPageHeader :: myPageHeader"></th:block>
<div id="wrap">
    <!-- mypage content -->
    <div class="mypage_content">
        <div class="left_box">
            <div class="tit">
                <p>MY행복</p>
            </div>
            <div class="box">
                <p>나의 주문 내역</p>
                <a href="/order/list">주문내역</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 혜택</p>
                <a href="/coupon/myCouponList">할인쿠폰</a>
                <a href="/point/findByMemberId">적립금</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 컨텐츠</p>
                <a href="javascript:;">찜상품</a>
                <a th:href="@{|/review/findByMemberId/${session.loginId}|}">나의 후기</a>
                <a href="javascript:;">1:1 채팅</a>
            </div>
            <div class="box">
                <p>나의 회원 정보</p>
                <a href="/member/passwordCheckDetail">기본 정보 관리</a>
                <a href="/passport/save-form">여권 정보 관리</a>
                <a href="/departure/">출국 정보 관리</a>
                <a href="/member/passwordCheck">비밀번호 변경</a>
                <a href="/member/passwordCheckDelete">회원 탈퇴</a>
            </div>
        </div>
        <div class="right_box">
            <h1>비밀번호 변경</h1>
            * 정규식조건 써주기(8자 이상 어쩌구저쩌구)
            <form action="/member/passwordUpdate" method="post" name="passwordUpdateForm">
                <input type="hidden" name="memberId" id="memberId" th:value="${session.loginId}">
                <input type="hidden" name="memberEmail" th:value="${member.memberEmail}">
                <input type="hidden" name="memberName" th:value="${member.memberName}">
                <input type="hidden" name="memberBirth" th:value="${member.memberBirth}">
                <input type="hidden" name="memberMobile" th:value="${member.memberMobile}">
                <input type="hidden" name="memberTier" th:value="${member.memberTier}">
                <table>
                    <tr>
                        <th>기존비밀번호</th>
                        <th><input type="password" id="memberPassword"></th>
                    </tr>
                    <tr>
                        <th>새비밀번호</th>
                        <th><input type="password" name="memberPassword"></th>
                    </tr>
                    <tr>
                        <th>새비밀번호확인</th>
                        <th><input type="password"></th>
                    </tr>
                </table>
                <a href="javascript:;" th:onclick="passwordCk()">확인</a>
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function passwordCk() {
        let memberPassword = document.getElementById("memberPassword").value;
        let memberId = document.getElementById("memberId").value;
        console.log(memberPassword);
        $.ajax({
            type: 'post',
            url: '/member/passwordCheck',
            data: {
                "memberPassword": memberPassword,
                "memberId" : memberId
            },
            dataType: 'text',
            success: function (result) {
                console.log(result)
                if (result == "OK") {
                    passwordUpdateForm.submit();
                } else {
                    alert("기존 비밀번호가 일치하지 않습니다")
                }
            },
            error: function () {
                alert("ajax 실패");
            }
        });
    }
</script>
</html>