<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>PasswordUpdate</title>
</head>
<body>
<h1>비밀번호 변경</h1>
* 정규식조건 써주기(8자 이상 어쩌구저쩌구)
<form action="/member/passwordUpdate" method="post" name="passwordUpdateForm">
    <input type="hidden" name="memberId" id="memberId" th:value="${session.loginId}">
    <input type="hidden" name="memberEmail" th:value="${member.memberEmail}">
    <input type="hidden" name="memberName" th:value="${member.memberName}">
    <input type="hidden" name="memberBirth" th:value="${member.memberBirth}">
    <input type="hidden" name="memberMobile" th:value="${member.memberMobile}">
    <input type="hidden" name="memberTier" th:value="${member.memberTier}">
<table>
    <tr>
        <th>기존비밀번호</th>
        <th><input type="password" id="memberPassword"></th>
    </tr>
    <tr>
        <th>새비밀번호</th>
        <th><input type="password" name="memberPassword"></th>
    </tr>
    <tr>
        <th>새비밀번호확인</th>
        <th><input type="password"></th>
    </tr>
</table>
    <input type="button" value="확인" th:onclick="passwordCk()">
</form>
</body>
<script th:inline="javascript">
    function passwordCk() {
        let memberPassword = document.getElementById("memberPassword").value;
        let memberId = document.getElementById("memberId").value;
        console.log(memberPassword);
        $.ajax({
            type: 'post',
            url: '/member/passwordCheck',
            data: {
                "memberPassword": memberPassword,
                "memberId" : memberId
            },
            dataType: 'text',
            success: function (result) {
                console.log(result)
                if (result == "OK") {
                    passwordUpdateForm.submit();
                    alert("비밀번호 일치")
                } else {
                    alert("비밀번호 불일치")
                }
            },
            error: function () {
                alert("ajax 실패");
            }
        });
    }
</script>
</html>