<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>MemberSave</title>
</head>
<body>
<form action="/member/save" method="post" >
    <p>이메일계정</p>
    <input type="text" name="memberEmail" placeholder="이메일계정" id="email">
    <input type="button" value="중복확인" onclick="emailDuplicateCheck()">
    <div id="emailResult"></div>
    <p>비밀번호</p>
    <input type="password" name="memberPassword" placeholder="비밀번호">
    <p>비밀번호확인</p>
    <input type="password" placeholder="비밀번호확인">
    <p>이름</p>
    <input type="text" name="memberName" placeholder="이름">
    <p>전화번호</p>
    <input type="text" name="memberMobile" id="memberMobile" placeholder="숫자만입력해주세요">
    <input type="button" value="중복확인" onclick="mobileDuplicateCheck()">
    <input type="button" value="인증하기" id="sendSMS">
    <input type="text" id="userNum" placeholder="인증번호입력">
    <input type="button" id="mobileCk" value="인증번호확인">
    <p>생년월일</p>
    <select id="year">
        <option>연</option>
    </select>
    <select id="month">
        <option>월</option>
    </select>
    <select id="day" onchange="birth()">
        <option>일</option>
    </select>
    <input type="hidden" name="memberBirth" id="memberBirth">
    <input type="submit" value="회원가입">
</form>
</body>
<script th:inline="javascript">
    // 연월일 select 옵션 만들기
    $(document).ready(function () {
        //연 select
        for (var i = 1930; i <= 2003; i++) {
            $('#year').append('<option value="' + i + '">' + i + '</option>');
        }
        //월 select
        for (var i = 1; i <= 12; i++) {
            var mm = i > 9 ? i : "0" + i;
            $('#month').append('<option value="' + mm + '">' + mm + '</option>');
        }
        //일 select
        for (var i = 1; i <= 31; i++) {
            var dd = i > 9 ? i : "0" + i;
            $('#day').append('<option value="' + dd + '">' + dd + '</option>');
        }
    })

    // 생년월일 select 합쳐서 memberBirth로 넘겨주기
    function birth() {
        var year = document.getElementById("year").value;
        var month = document.getElementById("month").value;
        var day = document.getElementById("day").value;
        var birth = year + "-" + month + "-" + day
        document.getElementById("memberBirth").value = birth;
    }

    //이메일 중복체크 및 정규식표현
    function emailDuplicateCheck() {
        var memberEmail = document.getElementById("email").value;
        var emailResult = document.getElementById("emailResult");
        let exp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
        if (memberEmail.match(exp)) {
            $.ajax({
                type: 'post',
                url: '/member/email-duplicate-check',
                data: {"memberEmail": memberEmail},
                dataType: 'text',
                success: function (result) {
                    console.log(result)
                    if (result == "OK") {
                        emailResult.innerHTML = "사용가능한 이메일입니다.";
                        emailResult.style.color = "green";
                    } else {
                        emailResult.innerHTML = "이미 사용중인 이메일입니다.";
                        emailResult.style.color = "red";
                    }
                }, error: function () {
                    alert("오류");

                }
            });
        } else {
            emailResult.innerHTML = "이메일 주소를 확인해주세요";
            emailResult.style.color = "red";
        }
    }

    // 핸드폰번호 중복체크
    function mobileDuplicateCheck(){
        var memberMobile = document.getElementById("memberMobile").value;
        $.ajax({
            type: 'post',
            url: '/member/mobile-duplicate-check',
            data: {"memberMobile": memberMobile},
            dataType: 'text',
            success: function (result) {
                console.log(result)
                if (result == "OK") {
                    alert("사용가능한 핸드폰번호입니다. 인증을 진행해주세요")
                } else {
                    alert("이미 사용중인 핸드폰번호입니다. 확인 후 다시 입력해주세요")
                }
            }, error: function () {
                alert("오류");
            }
        });
    }

    // 인증문자 보내기
    $('#sendSMS').click(function() {

        const memberMobile = $('#memberMobile').val();

        $.ajax ({
            url: '/member/sendSMS',
            type: 'GET',
            data: {"memberMobile" : memberMobile},
            success: function(data) {
                const checkNum = data;

                console.log(checkNum)

                alert('문자를 확인해주세요');

                // 인증문자확인 버튼 클릭시 호출
                $('#mobileCk').click(function() {
                    const userNum = $('#userNum').val();

                    if(checkNum === userNum) {
                        alert('인증 성공하였습니다.');
                    }
                    else {
                        alert('인증 실패하였습니다. 다시 입력해주세요.');
                    }
                });

            }
        });

    });
</script>
</html>