<div id="footer">
	<div class="inner">
		<div class="logo">
			<a href="/static"><img src="/img/logo.png" alt=""></a>
		</div>
		<div class="addr_box pret">
			<ul>
				<li><b>대표번호 : 1899-6943</b></li>
				<li>(주)이나인페이</li>
				<li>대표이사 : 전혁구</li>
				<li>사업자등록번호 : 119-86-00332</li>
				<li>서울시 관악구 남부순환로 1793, 백광빌딩 8층</li>
			</ul>
		</div>
		<div class="fnb_box pret">
			<div class="box">
				<dl>
					<dt>About us</dt>
					<dd>
						<ul>
							<li><a href="javascript:;">서비스 소개</a></li>
							<li><a href="javascript:;">비즈니스 송금</a></li>
							<li><a href="javascript:;">자주 묻는 질문</a></li>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>Follow us</dt>
					<dd>
						<ul>
							<li><a href="javascript:;">국가별 SNS</a></li>
							<li><a href="javascript:;">공식 블로그</a></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>