<th:block th:fragment="header">
    <!--    최근검색어 클릭시 안보이게 하기 위함-->
    <header>
        <div id="wrap">
            <div th:text="${session.loginEmail}"></div>
            <!-- header -->
            <div id="haeder">
                <div class="gnb">
                    <ul>
                        <li><div th:if="${session.loginEmail== null}"><a href="/member/login">로그인</a></div></li>
                        <li><div th:if="${session.loginEmail== null}"><a href="/member/save">회원가입</a></div></li>
                        <li><div th:if="${session.loginEmail=='admin'}"><a href="/adminMain">관리자페이지</a></div></li>
                        <li><div th:if="${session.loginEmail!='admin'}"><a href="javascript:;" onclick="goMypage()">MY행복</a></div></li>
                        <li><div th:if="${session.loginEmail!='admin'}"><a href="javascript:;" onclick="goCart()">장바구니</a></div></li>
                        <li><div th:if="${session.loginEmail!= null}"><a href="/member/logout">로그아웃</a></div></li>
                        <li><a href="/index">인덱스</a></li>
                        <li><div th:if="${session.loginEmail!='admin'}"><a href="https://open.kakao.com/o/sp1SU3ue" target=_blank>카카오채팅 문의하기</a></div></li>
                        <li><a href="javascript:;">오늘의 환율 1$ = <b id="rate" th:text="${session.exchangeRate}"></b>원</a></li>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- header// -->

            <div class="content">
                <!-- header 아래 검색창 -->
                <div class="search">
                    <div class="left_box">
                        <!-- logo img_size 133 * 57 -->
                        <div class="logo">
                            <a href="/">
                                <img src="/img/logo2.jpg" alt="">
                            </a>
                        </div>

                        <div class="category">
                            <a href="javascript:;">카테고리</a>
                            <ul class="depth02">
                                <li><a href="/product/1/">스킨케어</a></li>
                                <li><a href="/product/2/">메이크업</a></li>
                                <li><a href="/product/3/">향수/바디/헤어</a></li>
                                <li><a href="/product/4/">가방/신발/잡화</a></li>
                                <li><a href="/product/5/">시계/쥬얼리</a></li>
                                <li><a href="/product/6/">의류/아이웨어</a></li>
                                <li><a href="/product/7/">스포츠/레저</a></li>
                                <li><a href="/product/8/">디지털/리빙</a></li>
                                <li><a href="/product/9/">식품</a></li>
                                <li><a href="/product/10/">유아동</a></li>
                                <li><a href="/product/11/">남성관</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="center_box">
                        <form action="/product/search/" method="get" name="searchForm" id="searchForm">
                            <div th:if="${session.loginId}">
                                <div class="input_box">
                                    <input type="text" name="q" id="q" placeholder="상품명 검색">
                                    <div id="recommend" class="invisible">
                                        <div id="recent_search" ></div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${session.loginId}">
                                <div class="input_box">
                                    <input type="text" name="q" placeholder="상품명 검색">
                                </div>
                            </div>
                            <a href="javascript:;"><img src="/img/input_click.png" id="search" alt=""></a>
                        </form>
                    </div>
                    <!-- img_size 225 * 80 -->
                    <div class="right_box">
                        <a href="javascript:;">
                            <img src="/img/event_banner.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script !src="">

        //검색버튼 클릭시 검색
        $("#search").click(function () {
            $("#searchForm").submit();
        });


        //최근 검색어 창 띄우는 함수
        $("#q").mousedown(function () {
            const loginId = [[${session.loginId}]];
            const recentSearch = document.getElementById("recent_search");

            $.ajax({
                method: 'post',
                url: '/search/find',
                data: {
                    'loginId': loginId,
                },
                dataType: 'json',
                success: function (res) {
                    const recommendBox = document.querySelector("#recommend");
                    recommendBox.classList.remove('invisible');

                    let output = "<div>최근 검색어</div>\n";

                    for (let i = 0; i < res.length; i++) {
                        output += "<div id=\"recommend_item\" class=\"item\">\n";
                        output += "<i class=\"bi bi-search search-icon\" onclick=\'putSearch(" + '"' + res[i].searchName + '"' + ")\'></i>"
                        output += "<span class=\"text\" onclick=\'putSearch(" + '"' + res[i].searchName + '"' + ")\'>" + res[i].searchName + "</span>\n";
                        output += "<div class=\"right\">\n"
                        output += "<span class=\" align-self-end\">" + moment(res[i].searchCreatedTime).format("MM-DD") + "</span>\n";
                        output += "<span class=\" align-self-end btn\" onclick=\'searchDelete(" + res[i].searchId + ")\'>X</span>\n";
                        output += "</div>";
                        output += "</div>";

                    }
                    recentSearch.innerHTML = output;

                }, error: function () {
                    alert("에러입니다.");
                }
            })
        });

        //최근 검색어 삭제하는 함수
        const searchDelete = (searchId) => {
            let locationSearch = location.search;
            const urlParams = new URLSearchParams(locationSearch);
            const sq = urlParams.get('q');

            $.ajax({
                method: "post",
                url: "/search/delete",
                data: {"searchId": searchId},
                dataType: "text",
                success: function (res) {
                    console.log(res);
                    if(sq == null){
                        location.reload();
                    }else {
                        location.href = "/product/search/?q=" + sq+ "&del=" + 1;
                    }
                }, error: function () {
                    alert("ajax 오류")
                }
            });
        };

        //최근 검색어 클릭시 검색창에 넣어지는 함수
        const putSearch = (searchName) => {
            const recommendBox = document.querySelector("#recommend");
            const inputBox = document.querySelector("input");

            inputBox.value = searchName;
            recommendBox.classList.add('invisible');
        }

        //검색창에 글씨 쓰면 최근 검색어 사라짐
        const inputBox = document.querySelector("input");
        const recommendBox = document.querySelector("#recommend");

        inputBox.addEventListener("keyup", (e) => {
            if (e.target.value.length > 0) {
                recommendBox.classList.add('invisible');
            } else {
                recommendBox.classList.remove('invisible');
            }
        })
        // 검색창에서 마우스 포인터가 요소 밖으로 나갈때 최근 목록 사라짐
        // $("#q").blur(function (){
        //     const recommendBox = document.querySelector("#recommend");
        //     recommendBox.classList.add('invisible');
        // });
    </script>
    <script th:inline="javascript">
        //비로그인시 장바구니 접근 불가
        function goCart() {
            console.log("함수 들어옴");
            const loginId = [[${session.loginId}]];
            console.log(loginId);
            if (loginId == null) {
                alert("로그인 후 이용 가능합니다.");
                location.href = "/member/login";
            } else {
                location.href = "/cart/cartList";
            }
        }

        //비로그인시 my행복 접근불가
        function goMypage() {
            const loginId = [[${session.loginId}]];
            console.log(loginId);
            if (loginId == null) {
                alert("로그인 후 이용 가능합니다.");
                location.href = "/member/login";
            } else {
                location.href = "/myPageMain";
            }
        }
    </script>
</th:block>
