<th:block th:fragment="myPageHeader">
<div id="wrap">
    <div class="sub_visual_tab">
        <ul>
            <li><a href="/">홈</a></li>
            <li><p>Mypage</p></li>
        </ul>
    </div>
    <div class="sub_visual">
        <div class="top_box">
            <!-- img_size 100*70 -->
            <div class="img_box">
                <!-- <img src="" alt=""> -->
            </div>
            <div class="txt_box">
                <p><b>OOO님 </b>브론즈</p>
                <span>온라인멤버십 <b>최대 10% </b>할인혜택을 받으실 수 있습니다.</span>
            </div>
        </div>
        <div class="bot_box">
            <ul>
                <li>
                    <p><b>할인쿠폰 </b>(개)</p>
                    <span>개</span>
                </li>
                <li>
                    <p><b>적립금 </b>(원)</p>
                    <span>개</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</th:block>

