<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .event-category {
            max-width: 1200px;
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .event-detail{
            max-width: 1200px;
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;

        }
        .event-coupon{
            position: absolute;
            padding-left: 320px;
            bottom: 15em;
        }
        .event-contents{
            max-width: 95%;
            position: absolute;
            bottom: 2em;
            padding-left: 40px;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Title</title>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>

<div class="event-category">
    <span><a href="/">홈</a></span> &nbsp
    <span>></span> &nbsp
    <span><a href="/event">이벤트</a></span> &nbsp
    <span>></span> &nbsp
    <span>이벤트 상세</span> &nbsp
    <span>></span> &nbsp
    <span th:text="${event.couponEntity.couponName}" id="couponName"></span>
</div>
<div class="event-detail">
    <div class="event-file" th:each="eventFile: ${event.eventFilesEntityList}">
        <td><img th:src="@{|/upload/${eventFile.eventFileName}|}" width="1200" alt=""></td>
    </div>
    <div th:hidden="${event.couponEntity.couponId}" id="couponId"></div>
    <input th:hidden="${event.couponEntity.couponValue}">
    <input th:hidden="${event.couponEntity.couponMinimumValue}">
    <div class="event-coupon">
    <div th:if="${couponMember == null}"><img th:src="@{|/upload/${event.couponEntity.couponThumbnail}|}" width="500"
                                              height="200" alt=""
                                              onclick="issueCoupon()"></div>
    <div th:if="${couponMember != null}"><img th:src="@{|/upload/${event.couponEntity.couponThumbnail}|}" width="500"
                                              height="200" alt=""
                                              onclick="dontIssueCoupon()"></div>
    </div>
    <div class="event-contents">
    <div th:text="${event.eventContents}"></div>
    </div>
</div>
<th:block th:replace="include/footer :: footer"></th:block>

</body>
<script>
    const eventDelete = () => {
        const eventId = [[${event.eventId}]]
        location.href = "/event/delete/" + eventId;
    }
    const eventUpdate = () => {
        const eventId = [[${event.eventId}]]
        location.href = "/event/update/" + eventId;
    }
</script>
<script th:inline="javascript">
    function issueCoupon() {
        console.log("함수 들어옴")
        const couponName = document.getElementById("couponName").innerHTML;
        console.log(couponName);
        const memberId = [[${session.loginId}]];
        const couponId = [[${event.couponEntity.couponId}]];
        const memberB = [[${member.memberBirth}]];
        let today = new Date();
        let month = today.getMonth() + 1;  // 월
        if (month < 10) {
            month = "0" + month;
        }
        let date = today.getDate();  // 날짜
        // 노조건 이벤트
        if (couponName == "조건없음") {
            console.log("조건부합함")
            $.ajax({
                type: "post",
                url: "/coupon/issueCoupon/",
                data: {
                    "memberId": memberId,
                    "couponId": couponId,
                },
                dataType: "text",
                success: function (result) {
                    alert("쿠폰발급 성공")
                    location.reload();
                }, error: function () {
                    alert("쿠폰 발급 조건에 부합하지 않습니다.")
                }
            });
        }
        //생일 이벤트
        if (couponName == "생일") {
            let todayDate = month + '-' + date;
            let memberBirth = memberB.substring(5, 10);
            if (memberBirth == todayDate) {
                console.log("둘이 같음")
                $.ajax({
                    type: "post",
                    url: "/coupon/issueCoupon/",
                    data: {
                        "memberId": memberId,
                        "couponId": couponId,
                    },
                    dataType: "text",
                    success: function (result) {
                        alert("쿠폰발급 성공")
                        location.reload();
                    }, error: function () {
                        alert("쿠폰 발급 조건에 부합하지 않습니다.")
                    }
                });
            } else {
                alert("쿠폰 발급 조건에 부합하지 않습니다.")
            }
        }
        //띠 조건 이벤트
        if (couponName == "띠") {
            console.log("띠 들어옴")
            let memberYear = parseInt(memberB.substring(0, 4));
            let year = today.getFullYear();
            console.log(memberYear);
            console.log(year);
            if (memberYear % 12 == year % 12) {
                console.log("if문 들어옴")
                $.ajax({
                    type: "post",
                    url: "/coupon/issueCoupon/",
                    data: {
                        "memberId": memberId,
                        "couponId": couponId,
                    },
                    dataType: "text",
                    success: function (result) {
                        alert("쿠폰발급 성공")
                        location.reload();
                    }, error: function () {
                        alert("쿠폰 발급 조건에 부합하지 않습니다.")
                    }
                });
            } else {
                console.log("else문 들어옴")
                alert("쿠폰 발급 조건에 부합하지 않습니다.")
            }
        }
    }

    function dontIssueCoupon() {
        alert("이미 보유하고 있는 쿠폰입니다.")
    }
</script>
</html>