<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Title</title>
</head>
<body>
<h2>이벤트 상세 정보</h2>
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성시간</th>
        <th>수정시간</th>
        <th>썸네일</th>
        <th>쿠폰번호</th>
        <th>쿠폰이름</th>
        <th>쿠폰금액</th>
        <th>쿠폰최소금액</th>
        <th>쿠폰사진</th>
    </tr>
    <tr>
        <td th:text="${event.eventId}"></td>
        <td th:text="${event.eventTitle}"></td>
        <td th:text="${event.eventContents}"></td>
        <td th:text="${event.eventCreatedDate}"></td>
        <td th:text="${event.eventUpdatedDate}"></td>
        <td><img th:src="@{|/upload/${event.eventThumbnailName}|}" width="100" height="100" alt=""></td>
        <td th:text="${event.couponEntity.couponId}" th:id="couponId"></td>
        <td th:text="${event.couponEntity.couponName}" th:id="couponName"></td>
        <td th:text="${event.couponEntity.couponValue}"></td>
        <td th:text="${event.couponEntity.couponMinimumValue}"></td>
        <td><img th:src="@{|/upload/${event.couponEntity.couponThumbnail}|}" width="100" height="100" alt=""
                 onclick="issueCoupon()"></td>
        <td><input type="button" value="삭제" onclick="eventDelete()"></td>
        <td><input type="button" value="수정" onclick="eventUpdate()"></td>
    </tr>
</table>
<h2>첨부사진</h2>
<div th:each="eventFile: ${event.eventFilesEntityList}">
    <img th:src="@{|/upload/${eventFile.eventFileName}|}" width="500" height="500" alt="">
</div>
</body>
<script>
    const eventDelete = () => {
        const eventId = [[${event.eventId}]]
        location.href = "/event/delete/" + eventId;
    }
    const eventUpdate = () => {
        const eventId = [[${event.eventId}]]
        location.href = "/event/update/" + eventId;
    }
</script>
<script th:inline="javascript">
    function issueCoupon() {
        const memberId = [[${session.loginId}]];
        const couponId = [[${event.couponEntity.couponId}]];

        $.ajax({
            type: "post",
            url: "/coupon/issueCoupon/",
            data: {
                "memberId": memberId,
                "couponId": couponId
            },
            dataType: "text",
            success: function (result) {
                alert("쿠폰발급 성공")
            }, error: function () {
                alert("쿠폰발급 실패")
            }
        });
    }
</script>
</html>