<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        var openWin;

        function openChild() {
            // window.name = "부모창 이름";
            window.name = "parentForm";
            // window.open("open할 window", "자식창 이름", "팝업창 옵션");
            openWin = window.open("/admin/couponList",
                "childForm", "width=700, height=350, resizable = no, scrollbars = no");
        }
    </script>
</head>
<body>
이벤트 등록
<form action="/event/save" method="post" enctype="multipart/form-data">
    <div class="container text-center">

    이벤트 제목<input type="text" name="eventTitle"><br>
    이벤트 썸네일<input type="file" name="eventThumbnail"><br>
    이벤트 내용<input type="text" name="eventContents"><br>
    첨부파일 등록<input multiple="multiple" type="file" name="eventFile"><br>

    <input type="button" value="쿠폰 불러오기" onclick="openChild()"><br>
    쿠폰이름 <input type="text" id="couponName" name="couponName" readonly><br>
    쿠폰사진 <input type="text" id="couponThumbnail" name="couponThumbnail" readonly><br>

    <input type="hidden" id="couponId" name="couponId"><br>
    <input type="hidden" id="couponValue" name="couponValue"><br>
    <input type="hidden" id="couponMinimumValue" name="couponMinimumValue"><br>
    <input type="submit" value="등록">
</form>
</body>
</html>