<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>save.html</h2>
<form action="/departure/save" method="post">
    <input type="hidden" th:value="${departure.departureId}" name="departureId">
    출국장소
    <select name="departureAirport" th:value="${departure.departureAirport}">
        <option value="">선택하세요</option>
        <option th:selected="${departure.departureAirport}=='인천공항'" value="인천공항">인천공항</option>
        <option th:selected="${departure.departureAirport}=='김포공항'" value="김포공항">김포공항</option>
        <option th:selected="${departure.departureAirport}=='김해공항'" value="김해공항">김해공항</option>
    </select><br>
    출국일시
    <input type="text" name="departureDate" th:value="${departure.departureDate}"><br>
    편명
    <input type="text" name="departureNumber" th:value="${departure.departureNumber}"><br>
    직항/경유 여부
    <div th:if="${departure.departureFeature.toString().equals('직항')}">
        <input type="radio" name="departureFeature" value="직항" checked="checked">직항
        <input type="radio" name="departureFeature" value="경유">경유<br>
    </div>
    <div th:if="${departure.departureFeature.toString().equals('경유')}">
        <input type="radio" name="departureFeature" value="직항">직항
        <input type="radio" name="departureFeature" value="경유" checked="checked">경유<br>
    </div>
    도착지
    <select name="arrivalAirport" th:value="${departure.arrivalRegion}">
        <option value="">선택</option>
        <option th:selected="${departure.arrivalRegion}=='캐나다'" value="캐나다">캐나다</option>
        <option th:selected="${departure.arrivalRegion}=='중국'" value="중국">중국</option>
        <option th:selected="${departure.arrivalRegion}=='미국, 호주 이외의 모든 국가'" value="미국, 호주 이외의 모든 국가">미국, 호주 이외의 모든 국가</option>
        <option th:selected="${departure.arrivalRegion}=='미국/괌/사이판'" value="미국/괌/사이판">미국/괌/사이판</option>
        <option th:selected="${departure.arrivalRegion}=='호놀룰루/버진아일랜드'" value="호놀룰루/버진아일랜드">호놀룰루/버진아일랜드</option>
        <option th:selected="${departure.arrivalRegion}=='호주'" value="호주">호주</option>
        <option th:selected="${departure.arrivalRegion}=='대한민국(무착륙관광비행)'" value="대한민국(무착륙관광비행)">대한민국(무착륙관광비행)</option>
    </select><br>
    <input type="submit" value="확인">
    <input type="button" value="취소" onclick="cancel()">
</form>
</body>
<script>
    const cancel = () => {
        location.href = "/member/mypage"
    }
</script>
</html>