<!doctype html>
<html lang="ko">
<head>
	<title>경진하소</title>
	<meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<!-- css 연결 -->
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />

	<!-- swiper 슬라이더 -->
	<link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all" />
	<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="wrap">
		<div class="manage_content">
			<div class="left_box">
				<div class="logo_box">
					<!-- img_size 150*50 -->
					<a href="/">
<!-- 						<img src="" alt=""> -->
					</a>
					<p>ADMIN PAGE</p>
				</div>
				<div class="slide_box">
					<div class="box">
						<ul>
							<li>
								<a href="javscript:;">회원 관리</a>
								<ul class="depth02">
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<a href="javscript:;">회원 관리</a>
								<ul class="depth02">
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<a href="javscript:;">회원 관리</a>
								<ul class="depth02">
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<a href="javscript:;">회원 관리</a>
								<ul class="depth02">
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul>
							<li>
								<a href="javscript:;">회원 관리</a>
								<ul class="depth02">
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
									<li><a href="javscript:;">회원목록조회</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right_box">
				<div class="logout_box">
					<a href="javscript:;">로그아웃</a>
				</div>
				<div class="path_box">
					<ul>
						<li>상품관리</li>
						<li>상품등록</li>
					</ul>
				</div>
				<div class="content_box">
				</div>
			</div>
		</div>
	</div>
</body>
</html>