<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경진하소</title>
    <meta charset="UTF-8">

    <script src="/js/jquery.js"></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all"/>

    <!-- swiper 슬라이더 -->
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all"/>
    <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="wrap">
    <div class="manage_content">
        <div class="left_box">
            <th:block th:replace="include/adminHeader :: adminHeader"></th:block>
        </div>
        <script>
            $('.slide_box .box > ul > li > a').on('click', function () {
                $(this).next().slideToggle();
            })
        </script>
        <div class="right_box">
            <div class="logout_box">
                <a href="javscript:;">로그아웃</a>
            </div>
            <div class="path_box">
                <ul>
                    <li>행복 면세점 매출현황</li>
                </ul>
            </div>

            <div class="content_box">
                <h1 style="color: black;">오늘의 매출</h1>
                <h1  style="color: black;" th:text="${#numbers.formatInteger(todayRev, 3, 'COMMA')} + '원'"></h1>

                <div class="logo">
                        <img src="/img/logo.jpg" width="300" height="200" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>