<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>경진하소</title>
    <script src="/js/jquery.js"></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />

    <!-- swiper 슬라이더 -->
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all" />
    <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <style>

        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        th {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
            background-color: lightgray;
            color:#222;
        }

        td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div class="manage_content">
        <div class="left_box">
            <div class="logo_box">
                <!-- img_size 150*50 -->
                <a href="/">
                    <!-- 						<img src="" alt=""> -->
                </a>
                <p>ADMIN PAGE</p>
            </div>
            <div class="slide_box">
                <div class="box">
                    <ul>
                        <li>
                            <a href="javscript:;">회원 관리</a>
                            <ul class="depth02">
                                <li><a href="javscript:;">회원 목록 조회</a></li>
                                <li><a href="javscript:;">1:1 채팅 관리</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li>
                            <a href="javscript:;">상품 관리</a>
                            <ul class="depth02">
                                <li><a href="javscript:;">상품 등록</a></li>
                                <li><a href="javscript:;">상품 목록 조회</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li>
                            <a href="javscript:;">이벤트 게시판 관리</a>
                            <ul class="depth02">
                                <li><a href="javscript:;">이벤트 등록</a></li>
                                <li><a href="javscript:;">이벤트 목록 조회</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li>
                            <a href="javscript:;">매출 관리</a>
                            <ul class="depth02">
                                <li><a href="javscript:;">일별 매출</a></li>
                                <li><a href="javscript:;">월별 매출</a></li>
                                <li><a href="/admin/orderList">판매 내역</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li>
                            <a href="javscript:;">쿠폰 관리</a>
                            <ul class="depth02">
                                <li><a href="javscript:;">쿠폰 등록</a></li>
                                <li><a href="javscript:;">쿠폰 목록 조회</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            $('.slide_box .box > ul > li > a').on('click', function(){
                $(this).next().slideToggle();
            })
        </script>
        <div class="right_box">
            <div class="logout_box">
                <a href="javscript:;">로그아웃</a>
            </div>
            <div class="path_box">
                <ul>
                    <li>매출관리</li>
                    <li>판매내역</li>
                </ul>
            </div>
            <div class="content_box">
                <table>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:20%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>
                    <tr>
                        <th>교환권번호</th>
                        <th>주문번호</th>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>판매금액</th>
                        <th>수량</th>
                        <th>할인률</th>
                        <th>구매금액</th>
                    </tr>
                    <tr th:each="orderProduct: ${order.orderProductEntityList}">
                        <td th:text="${orderProduct.orderProductId}"></td>
                        <td th:text="${orderProduct.orderEntity.orderId}"></td>
                        <td th:text="${orderProduct.productEntity.productId}"></td>
                        <td>
                            <span th:src="@{|/upload/${orderProduct.productEntity.productThumbnail}|}"></span>
                            <a th:text="${orderProduct.productName}"
                               th:href="@{|/product/detail/${orderProduct.productEntity.productId}|}"></a>
                        </td>
                        <td>
            <span style="text-decoration: line-through; font-weight: bold"
                  th:text="${orderProduct.productOriginalPrice}"></span><br>
                            <span style="color: red; font-weight: bold" th:text="'$ ' + ${orderProduct.productPrice}"></span>
                        </td>
                        <td th:text="${orderProduct.orderQty} + '개'"></td>
                        <td th:text="${orderProduct.productDiscount} + '%'"></td>
                        <td>
            <span style="color: red; font-weight: bold"
                  th:text="'$ ' + ${orderProduct.productPrice * orderProduct.orderQty}"></span><br>
                            <span style="color: gray; font-size: small"
                                  th:text="'(' + ${#numbers.formatInteger(orderProduct.productPrice * orderProduct.orderQty * order.exchangeRate, 1, 'COMMA') } + '원)'"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>