<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>경진하소</title>
    <script src="/js/jquery.js"></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />

    <!-- swiper 슬라이더 -->
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all" />
    <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <style>

        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        th {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
            background-color: lightgray;
            color:#222;
        }

        td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div class="manage_content">
        <div class="left_box">
            <th:block th:replace="include/adminHeader :: adminHeader"></th:block>
        </div>
        <script>
            $('.slide_box .box > ul > li > a').on('click', function(){
                $(this).next().slideToggle();
            })
        </script>
        <div class="right_box">
            <div class="logout_box">
                <a href="javscript:;">로그아웃</a>
            </div>
            <div class="path_box">
                <ul>
                    <li>매출관리</li>
                    <li>판매내역</li>
                </ul>
            </div>
            <div class="content_box">
                <table>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:20%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>
                    <tr>
                        <th>주문번호</th>
                        <th>회원번호</th>
                        <th>쿠폰번호</th>
                        <th>주문 일시</th>
                        <th>최종 결제 원화</th>
                        <th>최종 결제 달러</th>
                        <th>사용 적립금</th>
                        <th>상세 조회</th>
                        <th>주문 상태</th>
                    </tr>
                    <tr th:each="order: ${orderList}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.memberId}"></td>
                        <td th:text="${order.couponMemberId}"></td>
                        <td th:text="${order.orderCreatedTime}"></td>
                        <td th:text="${order.orderWon}"></td>
                        <td th:text="${order.orderUsd}"></td>
                        <td th:text="${order.pointUseValue}"></td>
                        <td><a style="color: #0d6efd" th:href="@{|/admin/orderProductList/${order.orderId}|}">조회</a></td>
                        <td th:text="${order.orderStatus}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>