<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <style>
        #recommend {
            margin-top: 1px;
            position: absolute;
            background: white;
            padding: 0 10px;
        }

        .item {
            height: 1.8em;
            width: 220px;
            outline: none;
        }

        .item:hover {
            color: #9baec8;
        }

        .text {
            font-weight: bold;
        }

        .invisible {
            display: none;
        }
    </style>
</head>
<body>
<div class="frame">
    <div class="center">
        <form action="/product/search/" method="get">
            <input type="text" name="q" id="q" placeholder="상품명 검색">
            <div id="recommend" class="invisible">
                <div>최근 검색어</div>
                <div id="recommend_item" class="item" th:each="search: ${searchList}">
                    <span th:text="${search.searchName}" class="text" th:onclick="putSearch([[${search.searchName}]])"></span>
                    <span th:text="${#temporals.format(search.searchCreatedTime, 'MM/dd')}" class="small align-self-end"></span>
                    <span th:onclick="searchDelete([[${search.searchId}]])" class="small align-self-end">x</span>
                </div>
            </div>
            <input type="submit" value="검색">
        </form>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>검색아이디</th>
            <th>검색명</th>
        </tr>
        <tr th:each="search: ${searchList}">
            <td th:text="${search.searchId}"></td>
            <td th:text="${search.searchName}"></td>
        </tr>
    </table>
</div>

</body>
<script th:inline="javascript">
    const inputBox = document.querySelector("input");
    const recommendBox = document.querySelector("#recommend");

    inputBox.addEventListener("keyup", (e) => {
        if (e.target.value.length > 0) {
            recommendBox.classList.remove('invisible');
        } else {
            recommendBox.classList.add('invisible');
        }
    })

    const putSearch = (searchName) => {
        const recommendBox = document.querySelector("#recommend");
        const inputBox = document.querySelector("input");

        inputBox.value = searchName;
        recommendBox.classList.add('invisible');
    }

    const searchDelete = (searchId) => {
      $.ajax({
          method: "post",
          url: "/search/delete",
          data: { "searchId" : searchId},
          dataType:"text",
          success: function (res){
              console.log(res);
              location.reload();
          }, error: function (){
              alert("ajax 오류")
          }
      });
    };
</script>
</html>