<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <style>
        #recommend {
            margin-top: 1px;
            position: absolute;
            background: white;
            padding: 0 10px;
        }

        .item {
            height: 1.8em;
            width: 220px;
            outline: none;
        }

        .item:hover {
            color: #9baec8;
        }

        .text {
            font-weight: bold;
        }

        .invisible {
            display: none;
        }
    </style>
</head>
<body>

<div class="frame">
    <div class="center">
        <form action="/product/search/" method="get">
            <div th:if="${session.loginId}">
                <input type="text" name="q" id="q" placeholder="상품명 검색" th:onblur="searchFind()">
                <div id="recommend">
                    <div id="recent_search">

                    </div>
                </div>
            </div>

            <div th:unless="${session.loginId}">
                <input type="text" name="q" id="q1" placeholder="상품명 검색">
            </div>

            <input type="submit" value="검색">
        </form>
    </div>
</div>

</body>
<script th:inline="javascript">
    const inputBox = document.querySelector("input");
    const recommendBox = document.querySelector("#recommend");

    inputBox.addEventListener("keyup", (e) => {
        if (e.target.value.length > 0) {
            recommendBox.classList.remove('invisible');
        } else {
            recommendBox.classList.add('invisible');
        }
    })


    const searchFind = () => {
        const loginId = [[${session.loginId}]];
        const recentSearch  =  document.getElementById("recent_search");

        $.ajax({
            method: 'post',
            url: '/search/find',
            data: {
                'loginId': loginId,
            },
            dataType: 'json',
            success: function (res) {

                let output = "<div>최근 검색어</div>\n";

                for (let i = 0; i < res.length; i++) {
                output += "<div id=\"recommend_item\" class=\"item\">\n";
                output += "<span class=\"text\" onclick=\'putSearch(" +'"' + res[i].searchName + '"'+")\'>" + res[i].searchName + "</span>\n";
                output += "<span class=\"small align-self-end\">" + res[i].searchCreatedTime + "</span>\n";
                output += "<span class=\"small align-self-end\" onclick=\'searchDelete("+res[i].searchId+")\'>x</span>\n";
                output += "</div>";
                }
                recentSearch.innerHTML = output;

                }, error: function () {
                alert("에러입니다.");
            }
        })
    }



    const searchDelete = (searchId) => {
        $.ajax({
            method: "post",
            url: "/search/delete",
            data: {"searchId": searchId},
            dataType: "text",
            success: function (res) {
                console.log(res);
                location.reload();
            }, error: function () {
                alert("ajax 오류")
            }
        });
    };

    const putSearch = (searchName) => {
        alert(searchName);
        const recommendBox = document.querySelector("#recommend");
        const inputBox = document.querySelector("input");

        inputBox.value = searchName;
        recommendBox.classList.add('invisible');
    }

</script>
</html>