<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>주문내역 상세</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all"/>
    <style>
        input {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            display: inline-block;
        }

        select {
            width: 32%;
            padding: 10px;
            box-sizing: border-box;
            display: inline-block;
        }

        input.width25 {
            width: 24.3%
        }

        input.width50 {
            width: 49.5%
        }

        input[type="submit"] {
            background: #222;
            color: #fff;
            margin-top: 30px;
            height: 50px;
            padding: 0;
        }

        input[type="button"] {
            background: #222;
            color: #fff;
            margin-top: 30px;
            height: 50px;
            padding: 0;
        }

        .right_box h1 {
            font-size: 34px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold;
            border-bottom: 1px solid #000;
            padding-bottom: 20px;
        }

        .right_box h2 {
            font-size: 24px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .right_box table {
            width: 100%;
            margin-top: 30px;
        }

        .right_box table tr {
            border-bottom: 1px solid #aaa;
        }

        .right_box table th {
            background: #f5f5f5;
            padding: 10px 0;
            color: #000;
            font-size: 16px;
        }

        .right_box table td {
            text-align: center;
            padding: 10px 20px;
            box-sizing: border-box;
            font-size: 16px;
            color: #333;
        }
    </style>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<th:block th:replace="include/myPageHeader :: myPageHeader"></th:block>
<div id="wrap">
    <!-- mypage content -->
    <div class="mypage_content">
        <div class="left_box">
            <div class="tit">
                <p>MY행복</p>
            </div>
            <div class="box">
                <p>나의 주문 내역</p>
                <a href="/order/list">주문내역</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 혜택</p>
                <a href="/coupon/myCouponList">할인쿠폰</a>
                <a href="/point/findByMemberId">적립금</a>
            </div>
            <div class="box">
                <p>나의 쇼핑 컨텐츠</p>
                <a href="/product/likeList">찜상품</a>
                <a th:href="@{|/review/findByMemberId/${session.loginId}|}">나의 후기</a>
                <a href="javascript:;">1:1 채팅</a>
            </div>
            <div class="box">
                <p>나의 회원 정보</p>
                <a href="/member/passwordCheckDetail">기본 정보 관리</a>
                <a href="/passport/save-form">여권 정보 관리</a>
                <a href="/departure/">출국 정보 관리</a>
                <a href="/member/passwordCheck">비밀번호 변경</a>
                <a href="/member/passwordCheckDelete">회원 탈퇴</a>
            </div>
        </div>
        <div class="right_box" style="width: 840px;">
            <h1>주문내역</h1>
            <p style="color: black; font-size: medium"
               th:text="${'주문번호 ' + order.orderId + ' | 주문일시 ' + order.orderCreatedTime + ' | 구매상품 총 ' + order.orderProductEntityList.size() + '개'}"></p>
            <table>
                <tr>
                    <th>교환권번호</th>
                    <th>상품명</th>
                    <th>판매금액</th>
                    <th>수량</th>
                    <th>구매금액</th>
                    <th>상품평작성</th>
                </tr>
                <tr th:each="orderProduct: ${order.orderProductEntityList}">
                    <td th:text="${orderProduct.orderProductId}"></td>
                    <td>
                        <span th:src="@{|/upload/${orderProduct.productEntity.productThumbnail}|}" width="100"
                              height="100"></span>
                        <a style="color: #0d6efd; cursor: pointer; text-decoration: underline; font-size: small"
                           th:text="${orderProduct.productName}"
                           th:href="@{|/product/detail/${orderProduct.productEntity.productId}|}"></a>
                    </td>
                    <td>
            <span style="text-decoration: line-through; font-weight: bold"
                  th:text="'$' + ${orderProduct.productOriginalPrice}"></span><br>
                        <span style="color: red; font-weight: bold"
                              th:text="'$' + ${orderProduct.productPrice}"></span>
                    </td>
                    <td th:text="${orderProduct.orderQty} + '개'"></td>
                    <td>
            <span style="color: red; font-weight: bold"
                  th:text="'$' + ${orderProduct.productPrice * orderProduct.orderQty}"></span><br>
                        <span style="color: gray; font-size: small"
                              th:text="'(' + ${#numbers.formatInteger(orderProduct.productPrice * orderProduct.orderQty * order.exchangeRate, 1, 'COMMA') } + '원)'"></span>
                    </td>
                    <td>
                        <button th:onclick="saveReview([[${orderProduct.orderProductId}]])">상품평작성</button>
                    </td>
                </tr>
            </table>
            <table>
                <tr style="vertical-align: top">
                    <td>
                        <p style="font-weight: bold; font-size: large; color: black">총 주문 금액</p>
                        <span style="font-weight: bold; font-size: xx-large; color: black"
                              th:text="${'$' + #numbers.formatInteger(#aggregates.sum(order.orderProductEntityList.![productOriginalPrice]), 1, 'COMMA')}"></span><br>
                        <span style="font-size: large"
                              th:text="${#numbers.formatInteger(#aggregates.sum(order.orderProductEntityList.![productOriginalPrice]) * order.exchangeRate, 1, 'COMMA') + '원'}"></span><br>
                    </td>
                    <td>
                        <p style="font-weight: bold; font-size: large; color: black">총 할인 금액</p>
                        <span style="font-weight: bold; font-size: xx-large; color: black"
                              th:text="${'$' + #numbers.formatInteger((order.netDcWon / order.exchangeRate) + (order.pointUseValue / order.exchangeRate) + (order.couponUseValue / order.exchangeRate), 1, 'COMMA')}"></span><br>
                        <span style="font-size: large"
                              th:text="${#numbers.formatInteger(order.netDcWon + order.pointUseValue + order.couponUseValue, 1, 'COMMA') + '원'}"></span><br>
                        <span style="font-size: small">인터넷 회원 할인 적용(비과세)</span>
                        <span style="font-size: small; font-weight: bold"
                              th:text="${#numbers.formatInteger(order.netDcWon, 1, 'COMMA')} + '원'"></span><br>
                        <span style="font-size: small">적립금 할인 적용(비과세)</span>
                        <span style="font-size: small; font-weight: bold"
                              th:text="${#numbers.formatInteger(order.pointUseValue, 1, 'COMMA')} + '원'"></span><br>
                        <span style="font-size: small">쿠폰 할인 적용(비과세)</span>
                        <span style="font-size: small; font-weight: bold"
                              th:text="${#numbers.formatInteger(order.couponUseValue, 1, 'COMMA')} + '원'"></span><br>
                    </td>
                    <td>
                        <p style="font-weight: bold; font-size: large; color: black">최종 결제금액</p>
                        <span style="font-weight: bold; font-size: xx-large; color: red"
                              th:text="${'$' + #numbers.formatInteger(order.orderUsd, 1, 'COMMA')}"></span><br>
                        <span style="font-size: large"
                              th:text="${#numbers.formatInteger(order.orderWon, 1, 'COMMA') + '원'}"></span><br>
                    </td>
                </tr>
            </table>
            <span style="font-size: small; color: black">기존 구매하신 제품들을 재 구매하시려면 재주문하기 버튼을 클릭해주세요.</span>
            <form action="/order/re-order" method="get" class="order_form">
                <div th:each="orderProduct, i : ${order.orderProductEntityList}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].cartQty'}"
                           th:value="${orderProduct.orderQty}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productId'}"
                           th:value="${orderProduct.productEntity.productId}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].memberId'}"
                           th:value="${orderProduct.orderEntity.memberEntity.memberId}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productName'}"
                           th:value="${orderProduct.productName}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productOriginalPrice'}"
                           th:value="${orderProduct.productOriginalPrice}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productDiscount'}"
                           th:value="${orderProduct.productDiscount}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productPrice'}"
                           th:value="${orderProduct.productPrice}">
                    <input type="hidden" th:name="${'carts[' + i.index + '].productThumbnail'}"
                           th:value="${orderProduct.productEntity.productThumbnail}">
                </div>
                <div style="text-align: center">
                    <input type="submit" class="width25" value="재주문하기" style="cursor: pointer">
                </div>
            </form>

            <h2>고객정보 및 출국정보</h2>
            <table>
                <tr>
                    <th>영문이름</th>
                    <td th:text="${member.passportEntity.passportName}"></td>
                    <th>여권번호</th>
                    <td th:text="${member.passportEntity.passportNumber}"></td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td th:text="${member.memberBirth}"></td>
                    <th>여권만료일</th>
                    <td th:text="${member.passportEntity.passportDate}"></td>
                </tr>
                <tr>
                    <th>휴대폰번호</th>
                    <td th:text="${member.memberMobile}"></td>
                    <th>출국일</th>
                    <td th:text="${#temporals.createDate(order.orderDepartureEntity.orderDepartureDate, 'yyyyMMdd')}"></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${member.memberEmail}"></td>
                    <th>출발지(편명)</th>
                    <td th:text="${order.orderDepartureEntity.orderDepartureAirport + '(' + order.orderDepartureEntity.orderDepartureNumber + ')'}"></td>
                </tr>
            </table>

            <h2>결제정보</h2>
            <span th:text="${'결제금액: $' + order.orderUsd + '(' + order.orderWon + '원)'}" style="font-weight: bold; color: black;font-size: large"></span><br>
            <div style="text-align: center">
                <input type="button" th:onclick="location.href='/order/list';" value="목록" style="cursor: pointer" class="width25">
            </div>
        </div>
    </div>
    <!-- mypage content -->

    <!-- footer -->

    <!-- footer// -->
</div>
<!--html 인클루드시 사용 -->
</body>
<script th:inline="javascript">
    const saveReview = (id) => {
        location.href = "/review/save/" + id;
    }
</script>
</html>