<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <!--    datepicker-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <script th:src="@{/js/datepicker.js}"></script>
    <style>
        table {
            width: 1000px;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        th {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
            background-color: lightgray;
        }

        td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: left;
        }

        .totalPrice-container {
            width: 1200px;
            text-align: right;
            margin-top: 20px;
        }

        .content_btn_section {
            margin: 0 auto;
            display: block;
            width: 200px;
            text-align: center;
            margin-bottom: 100px;
            height: 50px;
        }

        .content_btn_section button {
            width: 100%;
            height: 100%;
            background: #84dccd;
            color: #fff;
            border: 0;
            outline: 0;
            font-size: 18px;
            font-weight: bold;
        }

        a {
            text-decoration: none;
        }

        .wrap {
            width: 1200px;
            margin: 0 auto;
        }

        table {
            width: 1200px;
            margin: 0 auto;
        }

        .pay_box {
            font-size: 0;
            /*letter-spacing: -4px;*/
            width: 1200px;
            margin: 0 auto 50px;
        }

        .pay_box .top_box {
            border =
            bottom: 1px solid #666;
        }

        .pay_box .top_box ul li {
            display: inline-block;
            vertical-align: top;
            width: 32%;
            text-align: center;
        }

        .pay_box .top_box ul li p {
            font-size: 20px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold;
        }

        .pay_box .top_box ul li.on p {
            color: #f60;
        }

        .pay_box .bot_box .left_box {
            display: inline-block;
            vertical-align: top;
            width: 30%;
            background: #f5f5f5;
            height: 300px;
            padding: 20px;
            box-sizing: border-box;
        }

        .pay_box .bot_box .left_box p {
            font-size: 24px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold;
            padding-bottom: 50px;
        }

        .pay_box .bot_box .left_box .logo_box {
            text-align: center;
        }

        .pay_box .bot_box .left_box .logo_box span {
            font-size: 20px;
            letter-spacing: -0.04em;
            color: #444;
            font-weight: 400
        }

        .pay_box .bot_box .right_box {
            display: inline-block;
            vertical-align: top;
            width: 70%;
            background: #aaa;
            height: 300px;
            padding: 20px;
            box-sizing: border-box;
        }

        .pay_box .bot_box .right_box .txt_box {
            border-bottom: 1px solid #666;
        }

        .pay_box .bot_box .right_box .txt_box p {
            font-size: 24px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold
        }

        .pay_box .bot_box .right_box ul li {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            border-right: 1px solid #666;
            box-sizing: border-box;
            text-align: center;
            padding-top: 50px;
            height: 200px;
        }

        .pay_box .bot_box .right_box ul li:last-of-type {
            border-right: 0;
        }

        .pay_box .bot_box .right_box ul li p {
            font-size: 22px;
            letter-spacing: -0.04em;
            color: #222;
            font-weight: bold
        }

        .pay_box .bot_box .right_box ul li span {
            display: block;
            font-size: 18px;
            letter-spacing: -0.04em;
            color: #444;
            font-weight: bold;
        }
    </style>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>
<!--회원 등급, 포인트, 쿠폰 표기 div-->
<div class="pay_box" style="padding-top: 30px">
    <div class="top_box">
        <ul>
            <li>
                <img src="" alt="">
                <p>STEP01 장바구니</p>
            </li>
            <li class="on">
                <img src="" alt="">
                <p>STEP02 주문/결제정보</p>
            </li>
            <li>
                <img src="" alt="">
                <p>STEP03 결제완료</p>
            </li>
        </ul>
    </div>
    <div class="bot_box">
        <div class="left_box">
            <p>해피 멤버십</p>
            <div class="logo_box">
                <img src="" alt="">
                <span th:text="${member.memberTier}"></span>
            </div>
        </div>
        <div class="right_box">
            <div class="txt_box">
                <p th:text="${member.memberName}+ '님께서 즉시 받으실 수 있는 쇼핑 혜택입니다.'"></p>
            </div>
            <ul>
                <li>
                    <p>적립금</p>
                    <span th:text="${#numbers.formatInteger(#aggregates.sum(member.pointEntityList.![pointValue]), 1, 'COMMA')} + '원'"></span>
                </li>
                <li>
                    <p>할인쿠폰</p>
                    <span th:text="${#lists.size(member.couponMemberEntityList.?[couponStatus=='사용 전'])} + '개'"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<table>
    <tr>
        <th>상품명</th>
        <th>판매금액</th>
        <th>수량</th>
        <th>할인율</th>
        <th>구매금액</th>
    </tr>
    <tr th:each="cart: ${cartList}">
        <td style="text-align: center">
            <span th:src="@{|/upload/${cart.productThumbnail}|}" width="100" height="100"></span>
            <span th:text="${cart.productName}"></span></td>
        <td style="text-align: center">
            <span style="text-decoration: line-through; font-weight: bold"
                  th:text="'$ ' + ${cart.productOriginalPrice}"></span><br>
            <span style="color: red; font-weight: bold" th:text="'$ ' + ${cart.productPrice}"></span>
        </td>
        <td style="text-align: center" th:text="${cart.cartQty}"></td>
        <td style="text-align: center" th:text="${cart.productDiscount} + '%'"></td>
        <td style="text-align: center">
            <span style="color: red; font-weight: bold" th:text="'$ ' + ${cart.productPrice * cart.cartQty}"></span><br>
            <span style="color: gray; font-size: small"
                  th:text="'(' + ${#numbers.formatInteger(cart.productPrice * cart.cartQty * session.exchangeRate, 1, 'COMMA') } + '원)'"></span>
        </td>
    </tr>
</table>
<div class="pay_box" style="margin-top: 30px">
    <h2>고객정보</h2>
</div>
<table>
    <thead>
    <tr>
        <th>영문이름</th>
        <td th:text="${member.passportEntity.passportName}"></td>
        <th>생년월일</th>
        <td th:text="${member.memberBirth}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>여권번호</th>
        <td th:text="${member.passportEntity.passportNumber}"></td>
        <th>여권만료일</th>
        <td th:text="${member.passportEntity.passportDate}"></td>
    </tr>
    <tr>
        <th>휴대폰번호</th>
        <td colspan="3" th:text="${member.memberMobile}"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td colspan="3" th:text="${member.memberEmail}"></td>
    </tr>
    </tbody>
</table>
<div class="pay_box" style="margin-top: 30px">
    <h2>출국정보</h2>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-auto-close="outside">
            나의 출국 예정일 불러오기
        </button>
        <form class="dropdown-menu p-4" id="myDropdown">
            <div class="mb-3">
                <label class="form-label">나의 출국정보</label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    아래 출국정보를 선택하시면, 해당 정보로 자동 입력 됩니다.<br>
                    출국정보는 MY행복 > <label onclick="location.href='/departure/';" style="font-weight: bold; cursor: pointer">출국정보관리</label>에서 등록/수정이 가능합니다.
                </label>
            </div>
            <div class="mb-3">
                <table>
                    <tr>
                        <th>선택</th>
                        <th>출국일시</th>
                        <th>출발공항</th>
                        <th>도착지</th>
                    </tr>
                    <tr th:each="departure: ${member.departureEntityList}">
                        <td style="text-align: center"><input type="radio" name="departureRadio"
                                                              th:attrappend="id=${departureStat.index}"></td>
                        <td style="text-align: center" th:text="${departure.departureDate}"
                            th:id="${'departureDate' + departureStat.index}"></td>
                        <td style="text-align: center" th:text="${departure.departureAirport}"
                            th:id="${'departureAirport' + departureStat.index}"></td>
                        <td style="text-align: center" th:text="${departure.arrivalRegion}"
                            th:id="${'arrivalRegion' + departureStat.index}"></td>
                        <td style="text-align: center" th:text="${departure.departureNumber}"
                            th:id="${'departureNumber' + departureStat.index}"
                            hidden></td>
                        <td style="text-align: center" th:text="${departure.departureFeature}"
                            th:id="${'departureFeature' + departureStat.index}"
                            hidden></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<table>
    <tr>
        <th>출국장소</th>
        <td>
            <select name="departureAirport" id="departureAirport" class="form-select-sm">
                <option value="">선택하세요</option>
                <option value="ICN">인천공항</option>
                <option value="GMP">김포공항</option>
                <option value="PUS">김해공항</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>출국일</th>
        <td>
            <input type="text" id="datepicker" name="departureDate" class="input-group-sm">
        </td>
    </tr>
    <tr>
        <th>편명</th>
        <td>
            <input type="text" name="departureNumber" id="departureNumber" class="input-group-sm">
            <a class="btn btn-primary" data-bs-toggle="modal" id="searchBtn" href="#exampleModalToggle" role="button"
               hidden></a>
            <a class="btn btn-primary" onclick="airportCheck()" role="button">편명 검색</a>
        </td>
    </tr>
    <tr>
        <th>직항/경유 여부</th>
        <td>
            <input type="radio" id="direct" name="departureFeature" value="직항" checked="checked" class="form-check-input">
            <label class="form-check-label" for="direct">
                직항
            </label>
            <input type="radio" id="trans" name="departureFeature" value="경유" class="form-check-input">
            <label class="form-check-label" for="trans">
                경유
            </label>
        </td>
    </tr>
    <tr>
        <th>목적지</th>
        <td>
            <select name="arrivalRegion" id="arrivalRegion" class="form-select-sm">
                <option value="">선택</option>
                <option value="캐나다">캐나다</option>
                <option value="중국">중국</option>
                <option value="미국, 호주 이외의 모든 국가">미국, 호주 이외의 모든 국가</option>
                <option value="미국/괌/사이판">미국/괌/사이판</option>
                <option value="호놀룰루/버진아일랜드">호놀룰루/버진아일랜드</option>
                <option value="호주">호주</option>
                <option value="대한민국(무착륙관광비행)">대한민국(무착륙관광비행)</option>
            </select>
        </td>
    </tr>
</table>
<div class="pay_box" style="margin-top: 30px">
    <h2>할인정보</h2>
</div>
<table>
    <tr>
        <th>쿠폰</th>
        <td>
            <select id="selectCoupon" onchange="selectCoupon()" class="form-select-sm">
                <option value="0">선택</option>
                <option th:each="coupon : ${member.couponMemberEntityList}"
                        th:value="${coupon.couponEntity.couponValue}"
                        th:text="${coupon.couponEntity.couponName}"
                        th:if="${coupon.couponStatus.equals('사용 전')}"
                        th:name="${coupon.couponMemberId}">
                </option>
            </select>
            사용 가능한 쿠폰:
            <span th:text="${#lists.size(member.couponMemberEntityList.?[couponStatus=='사용 전'])} + '개'"></span>
        </td>
    </tr>
    <tr>
        <th>적립금</th>
        <td>
            보유 적립금: <span
                th:text="${#numbers.formatInteger(#aggregates.sum(member.pointEntityList.![pointValue]), 1, 'COMMA')} + '원'"></span><br>
            사용 가능한 적립금(총 주문 금액의 10%): <span
                th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * session.exchangeRate * 0.1, 1, 'COMMA')} + '원'"></span><br>
            <input id="inputPoint" type="text" onchange="inputPoint()" value="0" class="input-group-sm">원
            <input type="checkbox" id="useAll" onclick="useAll()" class="form-check-input">전액사용
        </td>
    </tr>
</table>
<div class="pay_box" style="margin-top: 30px">
    <h2>결제정보</h2>
</div>
<table>
    <tr>
        <th>결제수단</th>
        <td>

            <input type="radio" id="card" name="payMethod" value="신용카드" onchange="payMethod()" class="form-check-input">
            <label class="form-check-label" for="card">
                신용카드
            </label>
            <input type="radio" id="kakao" name="payMethod" value="카카오페이" onchange="payMethod()" class="form-check-input">
            <label class="form-check-label" for="kakao">
                카카오페이
            </label>
            <input type="radio" id="toss" name="payMethod" value="토스페이" onchange="payMethod()" class="form-check-input" checked>
            <label class="form-check-label" for="toss">
                토스페이
            </label>
        </td>
    </tr>
</table>
<!--    신용카드 결제-->
<!--<div id="cardDiv" style="display: none">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>카드종류</th>-->
<!--            <td>-->
<!--                <select>-->
<!--                    <option value=""></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>할부선택</th>-->
<!--            <td>-->
<!--                <select>-->
<!--                    <option value=""></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<div class="pay_box" style="margin-top: 30px">
    <h2>최종 결제금액 내역</h2>
</div>
<table>
    <tr>
        <td>총 주문 상품</td>
        <td th:text="${cartList.size()} + '개'"></td>
        <td>
            <button onclick="location.href='/cart/cartList';">상품 수정</button>
        </td>
    </tr>
    <tr>
        <td>총 주문금액</td>
        <td th:text="'$ ' + ${#aggregates.sum(cartList.![productOriginalPrice * cartQty])}"></td>
        <td th:text="'(' + ${#numbers.formatInteger(#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * session.exchangeRate, 1, 'COMMA') } + '원)'"></td>
    </tr>
    <tr>
        <!--        모든 할인(인터넷할인, 적립금, 쿠폰)-->
        <td>총 할인금액</td>
        <td id="dcUsdText"
            th:text="'$ ' + ${#numbers.formatInteger(#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty]), 1, 'COMMA')}"></td>
        <input id="dcUsd" type="hidden"
               th:value="${#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty])}">
        <td id="dcWonText"
            th:text="'(' + ${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * session.exchangeRate, 1, 'COMMA')} + '원)'"></td>
        <input id="dcWon" type="hidden"
               th:value="${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * session.exchangeRate, 1)}">
    </tr>
</table>
<table>
    <tr>
        <td>인터넷 회원 할인</td>
        <td th:text="'-' + ${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * session.exchangeRate, 1, 'COMMA') } + '원'"></td>
    </tr>
    <tr>
        <td>적립금 사용</td>
        <td>
            <span id="usePoint">0</span><span>원</span>
        </td>
    </tr>
    <tr>
        <td>쿠폰 사용</td>
        <td>
            <span id="useCoupon">0</span><span>원</span>
        </td>
    </tr>
</table>
<p>최종 결제금액</p>
<span id="finalUsdText" th:text="'$ ' + ${#aggregates.sum(cartList.![productPrice * cartQty])}"></span><br>
<input type="hidden" id="finalUsd" th:value="${#aggregates.sum(cartList.![productPrice * cartQty])}">
<span id="finalWonText"
      th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![productPrice * cartQty]) * session.exchangeRate, 1, 'COMMA')} + '원'"></span>
<input type="hidden" id="finalWon"
       th:value="${#numbers.formatInteger(#aggregates.sum(cartList.![productPrice * cartQty]) * session.exchangeRate, 0)}">
<p><input type="checkbox">주문 정보를 확인하였으며, 구매에 동의합니다.</p>
<button id="requestPay" onclick="requestPay(this.name)" name="kakaopay.TC0ONETIME">주문하기
</button>

<!--     modal-->
<div class="modal fade modal-lg" id="exampleModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="radio" class="btn-check" name="selectAirline" id="KE" autocomplete="off">
                <label class="btn btn-primary" for="KE">대한항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="OZ" autocomplete="off">
                <label class="btn btn-primary" for="OZ">아시아나항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="7C" autocomplete="off">
                <label class="btn btn-primary" for="7C">제주항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="LJ" autocomplete="off">
                <label class="btn btn-primary" for="LJ">진에어항공</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="flightNext" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                        onclick="flightList(this.name, this.value, this.accessKey)">다음
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="exampleModalToggle2" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="flight-list">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">이전
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/js/flight.js}"></script>
<script>
    // 출국정보 불러오기
    $("input:radio[name=departureRadio]").click(function () {
        // 출국정보 리스트의 선택한 인덱스 뽑아오기
        const index = $(this).attr("id");
        console.log(index);

        // 뽑아온 인덱스로 설정한 id에 해당하는 데이터 뽑아오기
        let departureDate = document.getElementById("departureDate" + index).innerText;
        let departureAirport = document.getElementById("departureAirport" + index).innerText;
        let arrivalRegion = document.getElementById("arrivalRegion" + index).innerText;
        let departureNumber = document.getElementById("departureNumber" + index).innerText;
        let departureFeature = document.getElementById("departureFeature" + index).innerText;
        console.log("departureDate:" + departureDate);
        console.log("departureAirport:" + departureAirport);
        console.log("arrivalRegion:" + arrivalRegion);
        console.log("departureNumber:" + departureNumber);
        console.log("departureFeature:" + departureFeature);

        // 뽑아온 데이터를 뿌리기
        document.getElementById("datepicker").value = departureDate;
        document.getElementById("departureAirport").value = departureAirport;
        document.getElementById("arrivalRegion").value = arrivalRegion;
        document.getElementById("departureNumber").value = departureNumber;
        if (departureFeature == '직항')
            $("input:radio[name='departureFeature']:radio[value='직항']").prop('checked', true);
        else
            $("input:radio[name='departureFeature']:radio[value='경유']").prop('checked', true);
    });

    // 결제방법 선택
    function payMethod() {
        if ($('input:radio[id=card]').is(':checked')) {
            // $('#cardDiv').show();
            document.getElementById("requestPay").setAttribute("name", "html5_inicis.INIpayTest");
        } else if ($('input:radio[id=kakao]').is(':checked')) {
            document.getElementById("requestPay").setAttribute("name", "kakaopay.TC0ONETIME");
        } else if ($('input:radio[id=toss]').is(':checked')) {
            document.getElementById("requestPay").setAttribute("name", "tosspay.tosstest");
        }
    }

    const pointWon = parseInt([[${#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * session.exchangeRate * 0.1}]]); // 사용 가능 적립금 원화
    const pointUsd = parseInt([[${#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * 0.1}]]); // 사용 가능 적립금 달러
    const totalOriginUsd = parseInt([[${#aggregates.sum(cartList.![productOriginalPrice * cartQty])}]]); // 총 주문금액 달러
    const totalOriginWon = parseInt([[${#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * session.exchangeRate}]]); // 총 주문금액 원화
    const netDcWon = parseInt([[${#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * session.exchangeRate}]]); // 인터넷 회원 할인 원화
    const netDcUsd = parseInt([[${#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)])}]]); // 인터넷 회원 할인 달러
    // 전액사용
    function useAll() {
        let couponValueWon = parseInt($("#selectCoupon option:selected").val()); // 선택된 쿠폰 원화
        let couponValueUsd = parseInt(couponValueWon / [[${session.exchangeRate}]]); // 선택된 쿠폰 달러
        let finalWon = totalOriginWon - netDcWon - couponValueWon; // 최종 결제금액 원화
        let finalUsd = totalOriginUsd - netDcUsd - couponValueUsd; // 최종 결제금액 달러
        console.log("finalWon: ", finalWon);
        console.log("totalOriginWon: ", totalOriginWon);
        console.log("netDcWon: ", netDcWon);
        console.log("pointWon: ", pointWon);
        console.log("couponValueWon: ", couponValueWon);
        if (finalWon == 0) {
            alert("최종 결제 금액이 0원입니다.");
            $("input:checkbox[id='useAll']").prop("checked", false);
        } else if ($("#useAll").is(":checked") && finalWon > pointWon) { // 최종 결제 금액이 사용 가능 포인트보다 큼
            console.log("useAll-if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = pointWon;
            document.getElementById("usePoint").innerHTML = (-pointWon).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + pointUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + pointUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + pointWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + pointWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - pointUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - pointUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - pointWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - pointWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else if ($("#useAll").is(":checked") && finalWon <= pointWon) { // 최종 결제 금액이 사용 가능한 포인트보다 작거나 같음(최종 결제 금액만큼만 포인트 사용)
            console.log("useAll-else if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = finalWon;
            document.getElementById("usePoint").innerHTML = (-finalWon).toLocaleString();
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + finalUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + finalUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + finalWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + finalWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - finalUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - finalUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - finalWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - finalWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else { // 체크 해제 시
            console.log("useAll-else")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = 0;
            document.getElementById("usePoint").innerHTML = 0;
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        }
    }

    // 포인트 입력 처리
    function inputPoint() {
        console.log("inputPoint: 함수 실행");
        let couponValueWon = parseInt($("#selectCoupon option:selected").val()); // 선택된 쿠폰 원화
        let couponValueUsd = parseInt(couponValueWon / [[${session.exchangeRate}]]); // 선택된 쿠폰 달러
        let inputPointWon = parseInt(document.getElementById("inputPoint").value); // 입력한 적립금 원화
        let inputPointUsd = parseInt(inputPointWon / [[${session.exchangeRate}]]); // 입력한 적립금 달러
        let finalWon = totalOriginWon - netDcWon - couponValueWon; // 최종 결제금액 원화
        console.log("finalWon: ", finalWon);
        console.log("totalOriginWon: ", totalOriginWon);
        console.log("netDcWon: ", netDcWon);
        console.log("pointWon: ", pointWon);
        console.log("couponValueWon: ", couponValueWon);
        $("input:checkbox[id='useAll']").prop("checked", false);
        if (finalWon == 0) {
            alert("최종 결제 금액이 0원입니다.");
        } else if (inputPointWon < 0) {
            alert("입력한 포인트가 0보다 작습니다.");
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        } else if (inputPointWon > pointWon) { // 입력 포인트가 사용 가능 포인트보다 큼(자동으로 전액 사용)
            alert("사용 가능한 적립금을 초과하였습니다.")
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        } else if (inputPointWon == pointWon) { // 입력 포인트가 사용 가능 포인트와 같음(전액 사용)
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        } else if (inputPointWon < finalWon) { // 입력 포인트가 최종 결제 원화보다 작음
            console.log("inputPoint-else-if1")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = inputPointWon;
            document.getElementById("usePoint").innerHTML = (-inputPointWon).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + inputPointUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + inputPointUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + inputPointWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + inputPointWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - inputPointWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - inputPointWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else if (inputPointWon >= finalWon) { // 입력 포인트가 최종 결제 원화보다 크거나 같음(최종 결제 금액만큼 포인트 사용)-전액 사용 함수 실행
            console.log("inputPoint-else-if2")
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        } else {
            console.log("inputPoint-else");
            alert("숫자를 입력하세요.");
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        }
    }

    // 쿠폰 선택 처리
    function selectCoupon() {
        let couponValueWon = parseInt($("#selectCoupon option:selected").val()); // 선택된 쿠폰 원화
        let couponValueUsd = parseInt(couponValueWon / [[${session.exchangeRate}]]); // 선택된 쿠폰 달러
        let inputPointWon = parseInt(document.getElementById("inputPoint").value); // 입력한 적립금 원화
        let inputPointUsd = parseInt(inputPointWon / [[${session.exchangeRate}]]); // 입력한 적립금 달러
        let finalWon = totalOriginWon - netDcWon - inputPointWon; // 최종 결제금액 원화
        const couponMemberId = $("#selectCoupon option:selected").attr("name");
        if (couponMemberId != null && couponValueWon <= finalWon) { // 쿠폰 선택 and 최종결제금액이 쿠폰금액보다 크거나 같음
            // 쿠폰 사용 표현
            document.getElementById("useCoupon").innerHTML = (-couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + inputPointUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + inputPointUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + inputPointWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + inputPointWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - inputPointWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - inputPointWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else if (couponMemberId != null && couponValueWon > finalWon) { // 쿠폰 선택 and 최종결제금액이 쿠폰금액보다 작음
            alert("쿠폰 금액이 최종 결제 금액보다 큽니다.")
        } else { // '선택'을 선택
            // 쿠폰 사용 표현
            document.getElementById("useCoupon").innerHTML = (-couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 달러 총 할인금액 표현
            document.getElementById("dcUsd").value = netDcUsd + inputPointUsd + couponValueUsd;
            document.getElementById("dcUsdText").innerText = '$ ' + (netDcUsd + inputPointUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 원화 총 할인금액 표현
            document.getElementById("dcWon").value = netDcWon + inputPointWon + couponValueWon;
            document.getElementById("dcWonText").innerText = '(' + (netDcWon + inputPointWon + couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + (totalOriginUsd - netDcUsd - inputPointUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = totalOriginWon - netDcWon - inputPointWon - couponValueWon;
            document.getElementById("finalWonText").innerText = (totalOriginWon - netDcWon - inputPointWon - couponValueWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        }
    }

    // 아임포트
    const IMP = window.IMP;
    IMP.init("imp66752664");

    function requestPay(pgName) {
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: pgName,
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(), // 중복되지 않는 값(임의의 값, 주문 고유번호)
            name: "[[${cartList.get(0).productName}]] 외 [[${cartList.size()} - 1]]개",
            amount: document.getElementById("finalWon").value,
            buyer_email: "[[${member.memberEmail}]]",
            buyer_name: "[[${member.memberName}]]",
            buyer_tel: "[[${member.memberMobile}]]",
        }, function (rsp) { // callback
            console.log("function 진입")
            if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                console.log("rsp.success" + rsp.success)
                alert("완료" + rsp.imp_uid + rsp.merchant_uid)
                save();
            } else {
                alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
            }
        });
    }

    function save() {
        const couponMemberId = $("#selectCoupon option:selected").attr("name");
        const memberId = [[${member.memberId}]];
        const finalUsd = document.getElementById("finalUsd").value;
        const finalWon = document.getElementById("finalWon").value;
        const inputPoint = document.getElementById("inputPoint").value;
        const couponValueWon = parseInt($("#selectCoupon option:selected").val());
        const exchangeRate = [[${session.exchangeRate}]];
        const departureAirport = $("#departureAirport option:selected").attr("value");
        const departureDate = document.getElementById("datepicker").value;
        const departureNumber = document.getElementById("departureNumber").value;
        $.ajax({
            type: "post",
            url: "/order/save",
            data: {
                "netDcWon": netDcWon,
                "orderUsd": finalUsd,
                "orderWon": finalWon,
                "pointUseValue": inputPoint,
                "couponUseValue": couponValueWon,
                "exchangeRate": exchangeRate,
                "couponMemberId": couponMemberId,
                "memberId": memberId,
                "orderDepartureAirport": departureAirport,
                "orderDepartureDate": departureDate,
                "orderDepartureNumber": departureNumber,
            },
            dataType: "json",
            success: function () {
                location.href = "/order/list";
            },
            error: function () {
                location.href = "/order/list";
            }
        });
    }
</script>
</html>