<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!--    datepicker-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<h2>save.html</h2>
해피멤버쉽: <p th:text="${member.memberTier}"></p>
<p th:text="${member.memberName}">님 께서 즉시 받으실 수 있는 쇼핑 혜택입니다.</p>
할인쿠폰: <p th:text="${member.couponMemberEntityList.size()}">&nbsp;개</p>
<table>
    <tr>
        <th>상품명</th>
        <th>판매금액</th>
        <th>수량</th>
        <th>할인율</th>
        <th>구매금액</th>
    </tr>
    <tr th:each="cart: ${cartList}">
        <td th:src="@{|/upload/${cart.productThumbnail}|}" th:text="${cart.productName}"></td>
        <td th:text="${cart.productOriginalPrice}"></td>
        <td th:text="${cart.cartQty}"></td>
        <td th:text="${cart.productDiscount}"></td>
        <td th:text="${cart.productPrice}"></td>
    </tr>
</table>
<h2>고객정보</h2>
<table>
    <thead>
    <tr>
        <th>영문이름</th>
        <td th:text="${member.passportEntity.passportName}"></td>
        <th>생년월일</th>
        <td th:text="${member.memberBirth}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>여권번호</th>
        <td th:text="${member.passportEntity.passportNumber}"></td>
        <th>여권만료일</th>
        <td th:text="${member.passportEntity.passportDate}"></td>
    </tr>
    <tr>
        <th>휴대폰번호</th>
        <td colspan="3" th:text="${member.memberMobile}"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td colspan="3" th:text="${member.memberEmail}"></td>
    </tr>
    </tbody>
</table>

<h2>출국정보</h2>
<button>나의 출국 예정일 불러오기</button>
<table>
    <tr>
        <th>출국장소</th>
        <td>
            <select name="departureAirport">
                <option value="">선택하세요</option>
                <option value="ICN">인천공항</option>
                <option value="GMP">김포공항</option>
                <option value="PUS">김해공항</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>출국일시</th>
        <td>
            <input type="text" id="datepicker" name="departureDate">
        </td>
    </tr>
    <tr>
        <th>편명</th>
        <td>
            <input type="text" name="departureNumber" id="departureNumber">
            <a class="btn btn-primary" data-bs-toggle="modal" id="searchBtn" href="#exampleModalToggle" role="button"
               hidden></a>
            <a class="btn btn-primary" onclick="airportCheck()" role="button">편명 검색</a>
        </td>
    </tr>
    <tr>
        <th>직항/경유 여부</th>
        <td>
            <input type="radio" name="departureFeature" value="직항" checked="checked">직항
            <input type="radio" name="departureFeature" value="경유">경유
        </td>
    </tr>
    <tr>
        <th>목적지</th>
        <td>
            <select name="arrivalRegion">
                <option value="">선택</option>
                <option value="캐나다">캐나다</option>
                <option value="중국">중국</option>
                <option value="미국, 호주 이외의 모든 국가">미국, 호주 이외의 모든 국가</option>
                <option value="미국/괌/사이판">미국/괌/사이판</option>
                <option value="호놀룰루/버진아일랜드">호놀룰루/버진아일랜드</option>
                <option value="호주">호주</option>
                <option value="대한민국(무착륙관광비행)">대한민국(무착륙관광비행)</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>남기실말씀</th>
        <td><textarea style="resize: none"></textarea></td>
    </tr>
</table>

<h2>할인정보</h2>
<table>
    <tr>
        <th>쿠폰</th>
        <td>
            <select name="arrivalRegion">
                <option value="">선택</option>
                <option th:each="coupon : ${member.couponMemberEntityList}"
                        th:value="${coupon.couponEntity.couponValue}"
                        th:text="${coupon.couponEntity.couponName}"
                        th:if="${coupon.couponStatus.equals('사용 전')}">
                </option>
            </select>
            사용 가능한 쿠폰: <span id="couponQty">개</span>
        </td>
    </tr>
    <tr>
        <th>적립금</th>
        <td>
            사용 가능한 적립금: <span th:text="${#aggregates.sum(member.pointEntityList.![pointValue])}">원</span><br>
            <input type="text">원
            <input type="checkbox">전액사용
        </td>
    </tr>
</table>

<h2>결제정보</h2>
<table>
    <tr>
        <th>결제수단</th>
        <td>
            <input type="radio" id="card" name="payMethod" value="신용카드" onchange="setDisplay()">신용카드
            <input type="radio" name="payMethod" value="실시간계좌이체" onchange="setDisplay()">실시간계좌이체
            <input type="radio" name="payMethod" value="카카오페이" onchange="setDisplay()" checked>카카오페이
            <input type="radio" name="payMethod" value="네이버페이" onchange="setDisplay()">네이버페이
        </td>
    </tr>
<!--    신용카드 결제-->
    <div id="cardDiv">
        <tr>
            <th>카드종류</th>
            <td>
                <select>
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>할부선택</th>
            <td>
                <select>
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </div>
</table>

<h2>최종 결제금액 내역</h2>
<table>
    <tr>
        <td>총 주문 상품</td>
        <td>1개
            <button>상품 수정 ></button>
        </td>
    </tr>
    <tr>
        <td>총 주문금액</td>
        <td></td>
    </tr>
    <tr>
        <td>총 할인금액</td>
        <td></td>
    </tr>
</table>
<table>
    <tr>
        <td>인터넷 회원 할인</td>
        <td>-21,223원</td>
    </tr>
    <tr>
        <td>적립금 사용</td>
        <td>-5000원</td>
    </tr>
    <tr>
        <td>쿠폰 사용</td>
        <td>-10000원</td>
    </tr>
</table>
<p>최종 결제금액</p>
<p>$ 252.45</p>
<p>328.123원</p>
<p><input type="checkbox">주문 정보를 확인하였으며, 구매에 동의합니다.</p>
<button onclick="requestPay()">주문하기</button>

<!--     modal-->
<div class="modal fade modal-lg" id="exampleModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="radio" class="btn-check" name="selectAirline" id="KE" autocomplete="off">
                <label class="btn btn-primary" for="KE">대한항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="OZ" autocomplete="off">
                <label class="btn btn-primary" for="OZ">아시아나항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="7C" autocomplete="off">
                <label class="btn btn-primary" for="7C">제주항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="LJ" autocomplete="off">
                <label class="btn btn-primary" for="LJ">진에어항공</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="flightNext" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                        onclick="flightList(this.name, this.value, this.accessKey)">다음
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-lg" id="exampleModalToggle2" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="flight-list">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">이전
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function setDisplay() {
        if($('input:radio[id=card]').is(':checked')){
            $('#cardDiv').show();
        } else {
            $('#cardDiv').hide();
        }
    }

    // 아임포트
    const IMP = window.IMP; // 생략 가능
    IMP.init("imp66752664"); // 예: imp00000000

    function requestPay() {
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: "kakaopay.TC0ONETIME",
            pay_method: "card",
            merchant_uid: "ORD20180131-0000012", // 중복되지 않는 값(임의의 값, 주문 고유번호)
            name: "노르웨이 회전 의자",
            amount: 64900,
            buyer_email: "gildong@gmail.com",
            buyer_name: "홍길동",
            buyer_tel: "010-4242-4242",
        }, function (rsp) { // callback
            if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                // jQuery로 HTTP 요청
                // jQuery.ajax({
                //     url: "{서버의 결제 정보를 받는 endpoint}", // 예: https://www.myservice.com/payments/complete
                //     method: "POST",
                //     headers: { "Content-Type": "application/json" },
                //     data: {
                //         imp_uid: rsp.imp_uid,
                //         merchant_uid: rsp.merchant_uid
                //     }
                // }).done(function (data) {
                //     // 가맹점 서버 결제 API 성공시 로직
                // })
                alert("완료" + rsp.imp_uid + rsp.merchant_uid)
            } else {
                alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
            }
        });
    }

    // 쿠폰 갯수 표현하기(옵션의 '선택'부분 갯수를 빼기 위해 두 번 파싱)
    document.getElementById("couponQty").innerHTML = String(parseInt($("select[name=departureAirport] option").size()) - 1);

    // datepicker(달력)
    $(function () {
        //모든 datepicker에 대한 공통 옵션 설정
        $.datepicker.setDefaults({
            dateFormat: 'yymmdd' //Input Display Format 변경
            , showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
            , showMonthAfterYear: true //년도 먼저 나오고, 뒤에 월 표시
            , changeYear: true //콤보박스에서 년 선택 가능
            , changeMonth: true //콤보박스에서 월 선택 가능
            , showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
            , buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
            , buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
            , buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트
            , yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
            , monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] //달력의 월 부분 텍스트
            , monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'] //달력의 월 부분 Tooltip 텍스트
            , dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'] //달력의 요일 부분 텍스트
            , dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'] //달력의 요일 부분 Tooltip 텍스트
            , minDate: "-1M" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
            , maxDate: "+1M" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
        });

        //input을 datepicker로 선언
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();

        //From의 초기값을 오늘 날짜로 설정
        $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
        //To의 초기값을 내일로 설정
        $('#datepicker2').datepicker('setDate', '+1D'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)

        //return날짜를 depart날짜보다 앞으로 설정 못하게, depart날짜를 과거 선택 못하게
        $('#datepicker').datepicker();
        $('#datepicker').datepicker('option', 'minDate', '0');
        $('#datepicker').datepicker("option", "maxDate", $("#datepicker2").val());
        $('#datepicker').datepicker("option", "onClose", function (selectedDate) {
            $("#datepicker2").datepicker("option", "minDate", selectedDate);
        });
        $('#datepicker2').datepicker();
        $('#datepicker2').datepicker("option", "minDate", $("#datepicker").val());
        $('#datepicker2').datepicker("option", "onClose", function (selectedDate) {
            $("#datepicker").datepicker("option", "maxDate", selectedDate);
        });
    });

    // 편명 검색 클릭 시 항공사 정보 체크 및 이동(flightNext 태그의 name값으로 지정)
    const airportCheck = () => {
        const selectAirport = $("select[name=departureAirport]").val();
        const selectDate = $("input[name=departureDate]").val();
        if (selectAirport == "") {
            alert("출국장소를 선택하세요")
        } else if (selectDate == "") {
            alert("출국일시를 선택하세요")
        } else {
            document.getElementById("flightNext").setAttribute("name", selectAirport);
            document.getElementById("flightNext").setAttribute("accessKey", selectDate);
            console.log(document.getElementById("flightNext"));
            $('#searchBtn').get(0).click();
        }
    }

    // 항공사 라디오 선택 시, 해당 항공사명(id)을 flightNext 태그의 value값으로 지정
    $("input:radio[name=selectAirline]").click(function () {
        document.getElementById("flightNext").setAttribute("value", $("input:radio[name=selectAirline]:checked").attr('id'));
        console.log(document.getElementById("flightNext"));
    });

    // 해당 공항, 항공사 운항 스케쥴 불러오기
    const flightList = (cityCode, airline, departureDate) => {
        console.log(cityCode);
        console.log(airline);
        console.log(departureDate);
        $.ajax({
            type: "get",
            url: "/departure/findFlightList",
            data: {
                "departureDate": departureDate,
                "cityCode": cityCode,
                "airline": airline
            },
            dataType: "json",
            success: function (result) {
                console.log(result);
                let output = "<table class='table'>";
                for (let i in result) {
                    output += "<tr>";
                    output += "<td>" + result[i].airlineKorean + "(" + airline + ")" + "</td>";
                    output += "<td>" + result[i].airport + "(" + result[i].airportCode + ")" + "</td>";
                    output += "<td>" + result[i].internationalNum + "</td>";
                    output += "<td>" + result[i].internationalTime + "</td>";
                    output += "<td>" + "<button type='button' data-bs-dismiss=\"modal\" class='btn-outline' onclick=\"flightUpdate('" + result[i].internationalNum + "')\">" + "선택" + "</button>" + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('flight-list').innerHTML = output;
            },
            error: function () {
                alert("error");
            }
        })
    }

    const flightUpdate = (internationalNum) => {
        console.log(internationalNum)
        document.getElementById("departureNumber").value = internationalNum;
    }
</script>
</html>