<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <!--    datepicker-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">

    <script th:src="@{/js/datepicker.js}"></script>
</head>
<body>
<h2>test.html</h2>

해피멤버쉽: <label th:text="${member.memberTier}"></label><br>
<span th:text="${member.memberName}"></span>님 께서 즉시 받으실 수 있는 쇼핑 혜택입니다.<br>
할인쿠폰:
<label th:each="coupon: ${member.couponMemberEntityList}">
    <span th:text="${#lists.size(coupon.couponStatus)}" th:if="${coupon.couponStatus.equals('사용 전')}">&nbsp;개</span>
</label>

<table>
    <tr>
        <th>상품명</th>
        <th>판매금액</th>
        <th>수량</th>
        <th>할인율</th>
        <th>구매금액</th>
    </tr>
    <tr th:each="cart: ${cartList}">
        <td th:src="@{|/upload/${cart.productThumbnail}|}" th:text="${cart.productName}"></td>
        <td>
            <span style="text-decoration: line-through; font-weight: bold"
                  th:text="'$ ' + ${cart.productOriginalPrice}"></span><br>
            <span style="color: red; font-weight: bold" th:text="'$ ' + ${cart.productPrice}"></span>
        </td>
        <td th:text="${cart.cartQty}"></td>
        <td th:text="${cart.productDiscount} + '%'"></td>
        <td>
            <span style="color: red; font-weight: bold" th:text="'$ ' + ${cart.productPrice * cart.cartQty}"></span><br>
            <span style="color: gray; font-size: small"
                  th:text="'(' + ${#numbers.formatInteger(cart.productPrice * cart.cartQty * exRate.exchangeRate, 1, 'COMMA') } + '원)'"></span>
        </td>
    </tr>
</table>

<h2>고객정보</h2>
<table>
    <thead>
    <tr>
        <th>영문이름</th>
        <td th:text="${member.passportEntity.passportName}"></td>
        <th>생년월일</th>
        <td th:text="${member.memberBirth}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>여권번호</th>
        <td th:text="${member.passportEntity.passportNumber}"></td>
        <th>여권만료일</th>
        <td th:text="${member.passportEntity.passportDate}"></td>
    </tr>
    <tr>
        <th>휴대폰번호</th>
        <td colspan="3" th:text="${member.memberMobile}"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td colspan="3" th:text="${member.memberEmail}"></td>
    </tr>
    </tbody>
</table>

<h2>출국정보</h2>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-auto-close="outside">
        나의 출국 예정일 불러오기
    </button>
    <form class="dropdown-menu p-4">
        <div class="mb-3">
            <label class="form-label">나의 출국정보</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                아래 출국정보를 선택하시면, 해당 정보로 자동 입력 됩니다.<br>
                출국정보는 MY신라 > 출국정보관리에서 등록/수정이 가능합니다.
            </label>
        </div>
        <div class="mb-3">
            <table>
                <tr>
                    <th>선택</th>
                    <th>출국일시</th>
                    <th>출발공항</th>
                    <th>도착지</th>
                </tr>
                <tr th:each="departure: ${member.departureEntityList}">
                    <td><input type="radio" name="departureRadio" th:attrappend="id=${departureStat.index}"></td>
                    <td th:text="${departure.departureDate}" th:id="${'departureDate' + departureStat.index}"></td>
                    <td th:text="${departure.departureAirport}"
                        th:id="${'departureAirport' + departureStat.index}"></td>
                    <td th:text="${departure.arrivalRegion}" th:id="${'arrivalRegion' + departureStat.index}"></td>
                    <td th:text="${departure.departureNumber}" th:id="${'departureNumber' + departureStat.index}"
                        hidden></td>
                    <td th:text="${departure.departureFeature}" th:id="${'departureFeature' + departureStat.index}"
                        hidden></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<table>
    <tr>
        <th>출국장소</th>
        <td>
            <select name="departureAirport" id="departureAirport">
                <option value="">선택하세요</option>
                <option value="ICN">인천공항</option>
                <option value="GMP">김포공항</option>
                <option value="PUS">김해공항</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>출국일시</th>
        <td>
            <input type="text" id="datepicker" name="departureDate">
        </td>
    </tr>
    <tr>
        <th>편명</th>
        <td>
            <input type="text" name="departureNumber" id="departureNumber">
            <a class="btn btn-primary" data-bs-toggle="modal" id="searchBtn" href="#exampleModalToggle" role="button"
               hidden></a>
            <a class="btn btn-primary" onclick="airportCheck()" role="button">편명 검색</a>
        </td>
    </tr>
    <tr>
        <th>직항/경유 여부</th>
        <td>
            <input type="radio" name="departureFeature" value="직항" checked="checked">직항
            <input type="radio" name="departureFeature" value="경유">경유
        </td>
    </tr>
    <tr>
        <th>목적지</th>
        <td>
            <select name="arrivalRegion" id="arrivalRegion">
                <option value="">선택</option>
                <option value="캐나다">캐나다</option>
                <option value="중국">중국</option>
                <option value="미국, 호주 이외의 모든 국가">미국, 호주 이외의 모든 국가</option>
                <option value="미국/괌/사이판">미국/괌/사이판</option>
                <option value="호놀룰루/버진아일랜드">호놀룰루/버진아일랜드</option>
                <option value="호주">호주</option>
                <option value="대한민국(무착륙관광비행)">대한민국(무착륙관광비행)</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>남기실말씀</th>
        <td><textarea style="resize: none"></textarea></td>
    </tr>
</table>

<h2>할인정보</h2>
<table>
    <tr>
        <th>쿠폰</th>
        <td>
            <select id="selectCoupon" onchange="selectCoupon()">
                <option value="">선택</option>
                <option th:each="coupon : ${member.couponMemberEntityList}"
                        th:value="${coupon.couponEntity.couponValue}"
                        th:text="${coupon.couponEntity.couponName}"
                        th:if="${coupon.couponStatus.equals('사용 전')}"
                        th:name="${coupon.couponMemberId}">
                </option>
            </select>
            사용 가능한 쿠폰:
            <label th:each="coupon: ${member.couponMemberEntityList}">
                 <span th:text="${#lists.size(coupon.couponStatus)}"
                       th:if="${coupon.couponStatus.equals('사용 전')}">&nbsp;개</span>
            </label>
        </td>
    </tr>
    <tr>
        <th>적립금</th>
        <td>
            사용 가능한 적립금: <span
                th:text="${#numbers.formatInteger(#aggregates.sum(member.pointEntityList.![pointValue]), 1, 'COMMA')} + '원'"></span>
            <input type="hidden" id="point" th:value="${#aggregates.sum(member.pointEntityList.![pointValue])}"><br>
            <input id="inputPoint" type="text" onchange="inputPoint(this.value)">원
            <input type="checkbox" id="useAll" onclick="useAll()">전액사용
        </td>
    </tr>
</table>

<h2>결제정보</h2>
<table>
    <tr>
        <th>결제수단</th>
        <td>
            <input type="radio" id="card" name="payMethod" value="신용카드" onchange="payMethod()">신용카드
            <input type="radio" id="kakao" name="payMethod" value="카카오페이" onchange="payMethod()" checked>카카오페이
            <input type="radio" id="toss" name="payMethod" value="토스페이" onchange="payMethod()">토스페이
        </td>
    </tr>
</table>
<!--    신용카드 결제-->
<!--<div id="cardDiv" style="display: none">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>카드종류</th>-->
<!--            <td>-->
<!--                <select>-->
<!--                    <option value=""></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>할부선택</th>-->
<!--            <td>-->
<!--                <select>-->
<!--                    <option value=""></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<h2>최종 결제금액 내역</h2>
<table>
    <tr>
        <td>총 주문 상품</td>
        <td th:text="${cartList.size()} + '개'"></td>
        <td>
            <button onclick="location.href='/cart/cartList';">상품 수정</button>
        </td>
    </tr>
    <tr>
        <td>총 주문금액</td>
        <td th:text="'$ ' + ${#aggregates.sum(cartList.![productOriginalPrice * cartQty])}"></td>
        <td th:text="'(' + ${#numbers.formatInteger(#aggregates.sum(cartList.![productOriginalPrice * cartQty]) * exRate.exchangeRate, 1, 'COMMA') } + '원)'"></td>
    </tr>
    <tr>
        <!--        모든 할인(인터넷할인, 적립금, 쿠폰)-->
        <td>총 할인금액</td>
        <td id="dcUsdText"
            th:text="'$ ' + ${#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty])}"></td>
        <input id="dcUsd" type="hidden"
               th:value="${#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty])}">
        <!--        쿠폰과 포인트 양쪽에서 원래 값을 보존하기 위한 인풋 태그-->
        <input type="hidden" id="couponDcUsd"
               th:value="${#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty])}">
        <input type="hidden" id="pointDcUsd"
               th:value="${#aggregates.sum(cartList.![(productOriginalPrice - productPrice) * cartQty])}">
        <td id="dcWonText"
            th:text="'(' + ${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * exRate.exchangeRate, 1, 'COMMA')} + '원)'"></td>
        <input id="dcWon" type="text"
               th:value="${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * exRate.exchangeRate, 1)}">
        <input type="hidden" id="couponDcWon"
               th:value="${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * exRate.exchangeRate, 1)}">
        <input type="hidden" id="pointDcWon"
               th:value="${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * exRate.exchangeRate, 1)}">
    </tr>
</table>
<table>
    <tr>
        <td>인터넷 회원 할인</td>
        <td th:text="'-' + ${#numbers.formatInteger(#aggregates.sum(cartList.![((productOriginalPrice - productPrice) * cartQty)]) * exRate.exchangeRate, 1, 'COMMA') } + '원'"></td>
    </tr>
    <tr>
        <td>적립금 사용</td>
        <td>
            <span id="usePoint">0</span><span>원</span>
        </td>
    </tr>
    <tr>
        <td>쿠폰 사용</td>
        <td>
            <span id="useCoupon">0</span><span>원</span>
        </td>
    </tr>
</table>
<p>최종 결제금액</p>
<span id="finalUsdText" th:text="'$ ' + ${#aggregates.sum(cartList.![productPrice * cartQty])}"></span><br>
<input type="hidden" id="finalUsd" th:value="${#aggregates.sum(cartList.![productPrice * cartQty])}">
<!--쿠폰과 포인트 사용 함수에서 각각 금액 적용 전의 원본이 필요하기 때문에 밑의 2개 input 태그가 필요함-->
<input type="hidden" id="couponFinalUsd" th:value="${#aggregates.sum(cartList.![productPrice * cartQty])}">
<input type="hidden" id="pointFinalUsd" th:value="${#aggregates.sum(cartList.![productPrice * cartQty])}">
<span id="finalWonText"
      th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![productPrice * cartQty]) * exRate.exchangeRate, 1, 'COMMA')} + '원'"></span>
<input type="hidden" id="finalWon"
       th:value="${#aggregates.sum(cartList.![productPrice * cartQty]) * exRate.exchangeRate}">
<input type="hidden" id="couponFinalWon"
       th:value="${#aggregates.sum(cartList.![productPrice * cartQty]) * exRate.exchangeRate}">
<input type="hidden" id="pointFinalWon"
       th:value="${#aggregates.sum(cartList.![productPrice * cartQty]) * exRate.exchangeRate}">
<p><input type="checkbox">주문 정보를 확인하였으며, 구매에 동의합니다.</p>
<button id="requestPay" onclick="requestPay(this.name, this.value, this.accessKey)" name="kakaopay.TC0ONETIME">주문하기
</button>

<!--     modal-->
<div class="modal fade modal-lg" id="exampleModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="radio" class="btn-check" name="selectAirline" id="KE" autocomplete="off">
                <label class="btn btn-primary" for="KE">대한항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="OZ" autocomplete="off">
                <label class="btn btn-primary" for="OZ">아시아나항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="7C" autocomplete="off">
                <label class="btn btn-primary" for="7C">제주항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="LJ" autocomplete="off">
                <label class="btn btn-primary" for="LJ">진에어항공</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="flightNext" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                        onclick="flightList(this.name, this.value, this.accessKey)">다음
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="exampleModalToggle2" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="flight-list">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">이전
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/js/flight.js}"></script>
<script>
    // 출국정보 불러오기
    $("input:radio[name=departureRadio]").click(function () {
        // 출국정보 리스트의 선택한 인덱스 뽑아오기
        const index = $(this).attr("id");
        console.log(index);

        // 뽑아온 인덱스로 설정한 id에 해당하는 데이터 뽑아오기
        let departureDate = document.getElementById("departureDate" + index).innerText;
        let departureAirport = document.getElementById("departureAirport" + index).innerText;
        let arrivalRegion = document.getElementById("arrivalRegion" + index).innerText;
        let departureNumber = document.getElementById("departureNumber" + index).innerText;
        let departureFeature = document.getElementById("departureFeature" + index).innerText;
        console.log("departureDate:" + departureDate);
        console.log("departureAirport:" + departureAirport);
        console.log("arrivalRegion:" + arrivalRegion);
        console.log("departureNumber:" + departureNumber);
        console.log("departureFeature:" + departureFeature);

        // 뽑아온 데이터를 뿌리기
        document.getElementById("datepicker").value = departureDate;
        document.getElementById("departureAirport").value = departureAirport;
        document.getElementById("arrivalRegion").value = arrivalRegion;
        document.getElementById("departureNumber").value = departureNumber;
        if (departureFeature == '직항')
            $("input:radio[name='departureFeature']:radio[value='직항']").prop('checked', true);
        else
            $("input:radio[name='departureFeature']:radio[value='경유']").prop('checked', true);
    });

    // 결제방법 선택
    function payMethod() {
        if ($('input:radio[id=card]').is(':checked')) {
            // $('#cardDiv').show();
            document.getElementById("requestPay").setAttribute("name", "html5_inicis.INIpayTest");
        } else if ($('input:radio[id=kakao]').is(':checked')) {
            document.getElementById("requestPay").setAttribute("name", "kakaopay.TC0ONETIME");
        } else if ($('input:radio[id=toss]').is(':checked')) {
            document.getElementById("requestPay").setAttribute("name", "tosspay.tosstest");
        }
    }

    // 아임포트
    const IMP = window.IMP; // 생략 가능
    IMP.init("imp66752664"); // 예: imp00000000
    function requestPay(pgName, paymentWon) {
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: pgName,
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(), // 중복되지 않는 값(임의의 값, 주문 고유번호)
            name: "[[${cartList.get(0).productName}]] 외 [[${cartList.size()} - 1]]개",
            amount: 1,
            buyer_email: "[[${member.memberEmail}]]",
            buyer_name: "[[${member.memberName}]]",
            buyer_tel: "[[${member.memberMobile}]]",
        }, function (rsp) { // callback
            if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                // jQuery로 HTTP 요청
                // jQuery.ajax({
                //     url: "{서버의 결제 정보를 받는 endpoint}", // 예: https://www.myservice.com/payments/complete
                //     method: "POST",
                //     headers: { "Content-Type": "application/json" },
                //     data: {
                //         imp_uid: rsp.imp_uid,
                //         merchant_uid: rsp.merchant_uid
                //     }
                // }).done(function (data) {
                //     // 가맹점 서버 결제 API 성공시 로직
                // })
                alert("완료" + rsp.imp_uid + rsp.merchant_uid)
            } else {
                alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
            }
        });
    }

    // 전액사용
    function useAll() {
        const point = parseInt(document.getElementById("point").value);
        const pointUsd = parseInt(point / [[${exRate.exchangeRate}]]);
        const finalWon = parseInt(document.getElementById("finalWon").value);
        const couponFinalWon = parseInt(document.getElementById("couponFinalWon").value);
        const couponFinalUsd = parseInt(document.getElementById("couponFinalUsd").value);
        const dcUsd = parseInt(document.getElementById("dcUsd").value);
        const dcWon = parseInt(document.getElementById("dcWon").value);
        const couponDcUsd = parseInt(document.getElementById("couponDcUsd").value);
        const couponDcWon = parseInt(document.getElementById("couponDcWon").value);
        console.log(point);
        console.log(pointUsd);
        console.log(finalWon);
        console.log(couponFinalWon);
        console.log(dcUsd);
        console.log("dcWon = " + dcWon);
        if ($("#useAll").is(":checked") && couponFinalWon > point) { // 최종 결제 금액이 보유 포인트보다 큼
            console.log("if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = point.toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("usePoint").innerHTML = (-point).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + (couponDcUsd + pointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("dcUsd").value = couponDcUsd + pointUsd;
            document.getElementById("pointDcUsd").value = couponDcUsd + pointUsd;
            document.getElementById("dcWonText").innerText = '(' + (couponDcWon + point).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = couponDcWon + point;
            document.getElementById("pointDcWon").value = couponDcWon + point;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = (couponFinalUsd - pointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("pointFinalUsd").value = (couponFinalUsd - pointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("finalUsdText").innerText = '$' + (couponFinalUsd - pointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = (couponFinalWon - point).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("pointFinalWon").value = (couponFinalWon - point).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("finalWonText").innerText = (couponFinalWon - point).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else if ($("#useAll").is(":checked") && couponFinalWon <= point) { // 최종 결제 금액이 보유 포인트보다 작거나 같음(최종 결제 금액만큼만 포인트 사용)
            console.log("else if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = couponFinalWon.toLocaleString();
            document.getElementById("usePoint").innerHTML = (-couponFinalWon).toLocaleString();
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + (couponDcUsd + couponFinalUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("dcUsd").value = couponDcUsd + couponFinalUsd;
            document.getElementById("pointDcUsd").value = couponDcUsd + couponFinalUsd;
            document.getElementById("dcWonText").innerText = '(' + (couponDcWon + couponFinalWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = couponDcWon + couponFinalWon;
            document.getElementById("pointDcWon").value = couponDcWon + couponFinalWon;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = 0;
            document.getElementById("pointFinalUsd").value = 0;
            document.getElementById("finalUsdText").innerText = '$ ' + 0;
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = 0;
            document.getElementById("pointFinalWon").value = 0;
            document.getElementById("finalWonText").innerText = 0 + '원';
        } else { // 체크 해제 시
            console.log("else")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = 0;
            document.getElementById("usePoint").innerHTML = 0;
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + couponDcUsd.toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("dcUsd").value = couponDcUsd;
            document.getElementById("pointDcUsd").value = couponDcUsd + couponFinalUsd;
            document.getElementById("dcWonText").innerText = '(' + couponDcWon.toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = couponDcWon;
            document.getElementById("pointDcWon").value = couponDcWon;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = couponFinalUsd;
            document.getElementById("pointFinalUsd").value = couponFinalUsd;
            document.getElementById("finalUsdText").innerText = '$ ' + couponFinalUsd;
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = couponFinalWon;
            document.getElementById("pointFinalWon").value = couponFinalWon;
            document.getElementById("finalWonText").innerText = couponFinalWon.toLocaleString() + '원';
        }
    }

    // 포인트 입력 처리
    function inputPoint(inputPoint) {
        const parseInputPoint = parseInt(inputPoint);
        const parseInputPointUsd = parseInt(inputPoint / [[${exRate.exchangeRate}]]);
        const point = parseInt(document.getElementById("point").value);
        const couponFinalWon = parseInt(document.getElementById("couponFinalWon").value);
        const couponFinalUsd = parseInt(document.getElementById("couponFinalUsd").value);
        const couponDcUsd = parseInt(document.getElementById("couponDcUsd").value);
        const couponDcWon = parseInt(document.getElementById("couponDcWon").value);
        if (parseInputPoint > point) { // 입력 포인트가 사용 가능 포인트보다 큼(자동으로 전액 사용)
            alert("포인트가 부족합니다.")
            $("input:checkbox[id='useAll']").prop("checked", true);
            useAll();
        } else if (couponFinalWon > parseInputPoint) { // 입력 포인트가 최종 결제 원화보다 작음
            console.log("if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = parseInputPoint.toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("usePoint").innerHTML = (-parseInputPoint).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + (couponDcUsd + parseInputPointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("DcUsd").value = couponDcUsd + parseInputPointUsd;
            document.getElementById("pointDcUsd").value = couponDcUsd + parseInputPointUsd;
            document.getElementById("dcWonText").innerText = '(' + (couponDcWon + parseInputPoint).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = couponDcWon + parseInputPoint;
            document.getElementById("pointDcWon").value = couponDcWon + parseInputPoint;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = (couponFinalUsd - parseInputPointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("pointFinalUsd").value = (couponFinalUsd - parseInputPointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("finalUsdText").innerText = '$ ' + (couponFinalUsd - parseInputPointUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = (couponFinalWon - parseInputPoint).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("pointFinalWon").value = (couponFinalWon - parseInputPoint).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("finalWonText").innerText = (couponFinalWon - parseInputPoint).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
        } else if (couponFinalWon <= parseInputPoint) { // 입력 포인트가 최종 결제 원화보다 크거나 같음(최종 결제 금액만큼 포인트 사용)
            console.log("else if")
            // 적립금 사용 표현
            document.getElementById("inputPoint").value = couponFinalWon.toLocaleString();
            document.getElementById("usePoint").innerHTML = (-couponFinalWon).toLocaleString();
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + (couponDcUsd + couponFinalUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("dcUsd").value = couponDcUsd + couponFinalUsd;
            document.getElementById("pointDcUsd").value = couponDcUsd + couponFinalUsd;
            document.getElementById("dcWonText").innerText = '(' + (couponDcWon + couponFinalWon).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = couponDcWon + couponFinalWon;
            document.getElementById("pointDcWon").value = couponDcWon + couponFinalWon;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = 0;
            document.getElementById("pointFinalUsd").value = 0;
            document.getElementById("finalUsdText").innerText = '$ ' + 0;
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = 0;
            document.getElementById("pointFinalWon").value = 0;
            document.getElementById("finalWonText").innerText = 0 + '원';
        }
    }

    // 쿠폰 선택 처리
    function selectCoupon() {
        const couponValue = parseInt($("#selectCoupon option:selected").val());
        const couponValueUsd = parseInt(couponValue / [[${exRate.exchangeRate}]]);
        const couponMemberId = $("#selectCoupon option:selected").attr("name");
        const pointFinalWon = parseInt(document.getElementById("pointFinalWon").value);
        const pointDcUsd = parseInt(document.getElementById("pointDcUsd").value);
        const pointDcWon = parseInt(document.getElementById("pointDcWon").value);
        if (couponMemberId != null && pointFinalWon >= couponValue) { // 쿠폰 선택 and 최종결제금액이 쿠폰금액보다 크거나 같음
            // 쿠폰 사용 표현
            document.getElementById("useCoupon").innerHTML = parseInt(-couponValue).toLocaleString('ko-KR');
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + (pointDcUsd + couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("DcUsd").value = pointDcUsd + couponValueUsd;
            document.getElementById("couponDcUsd").value = pointDcUsd + couponValueUsd;
            document.getElementById("dcWonText").innerText = '(' + (pointDcWon - couponValue).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = pointDcWon + couponValue;
            document.getElementById("couponDcWon").value = pointDcWon + couponValue;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = (pointDcUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("couponFinalUsd").value = (pointDcUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("finalUsdText").innerText = '$ ' + (pointDcUsd - couponValueUsd).toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = (pointDcWon - couponValue).toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("finalWonText").innerText = (pointDcWon - couponValue).toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
            document.getElementById("couponFinalWon").value = (pointDcWon - couponValue).toLocaleString('ko-KR', {maximumFractionDigits: 0});
        } else if (couponMemberId != null && pointFinalWon < couponValue) { // 쿠폰 선택 and 최종결제금액이 쿠폰금액보다 작음
            alert("쿠폰 금액이 최종 결제 금액보다 큽니다.")
        } else {
            // 쿠폰 사용 표현
            document.getElementById("useCoupon").innerHTML = 0;
            // 총 할인금액 표현
            document.getElementById("dcUsdText").innerText = '$ ' + pointDcUsd.toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("DcUsd").value = pointDcUsd;
            document.getElementById("couponDcUsd").value = pointDcUsd;
            document.getElementById("dcWonText").innerText = '(' + pointDcWon.toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원)';
            document.getElementById("dcWon").value = pointDcWon;
            document.getElementById("couponDcWon").value = pointDcWon;
            // 최종 결제 달러 표현
            document.getElementById("finalUsd").value = pointDcUsd.toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("finalUsdText").innerText = '$ ' + pointDcUsd.toLocaleString('ko-KR', {maximumFractionDigits: 1});
            document.getElementById("couponFinalUsd").value = pointDcUsd.toLocaleString('ko-KR', {maximumFractionDigits: 1});
            // 최종 결제 원화 표현
            document.getElementById("finalWon").value = pointDcWon.toLocaleString('ko-KR', {maximumFractionDigits: 0});
            document.getElementById("finalWonText").innerText = pointDcWon.toLocaleString('ko-KR', {maximumFractionDigits: 0}) + '원';
            document.getElementById("couponFinalWon").value = pointDcWon.toLocaleString('ko-KR', {maximumFractionDigits: 0});
        }
    }
</script>
</html>