<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <!--    datepicker-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet">

    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/iamport.js}"></script>
</head>
<body>
<h2>test.html</h2>

해피멤버쉽: <label th:text="${member.memberTier}"></label><br>
<span th:text="${member.memberName}"></span>님 께서 즉시 받으실 수 있는 쇼핑 혜택입니다.<br>
할인쿠폰:
<label th:each="coupon: ${member.couponMemberEntityList}">
    <span th:text="${#lists.size(coupon.couponStatus)}" th:if="${coupon.couponStatus.equals('사용 전')}">&nbsp;개</span>
</label>

<table>
    <tr>
        <th>상품명</th>
        <th>판매금액</th>
        <th>수량</th>
        <th>할인율</th>
        <th>구매금액</th>
    </tr>
    <tr th:each="cart: ${cartList}">
        <td th:src="@{|/upload/${cart.productThumbnail}|}" th:text="${cart.productName}"></td>
        <td th:text="'$ ' + ${cart.productOriginalPrice}"></td>
        <td th:text="${cart.cartQty}"></td>
        <td th:text="${cart.productDiscount}"></td>
        <td th:text="'$ ' + ${cart.productPrice}"></td>
    </tr>
</table>

<h2>고객정보</h2>
<table>
    <thead>
    <tr>
        <th>영문이름</th>
        <td th:text="${member.passportEntity.passportName}"></td>
        <th>생년월일</th>
        <td th:text="${member.memberBirth}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>여권번호</th>
        <td th:text="${member.passportEntity.passportNumber}"></td>
        <th>여권만료일</th>
        <td th:text="${member.passportEntity.passportDate}"></td>
    </tr>
    <tr>
        <th>휴대폰번호</th>
        <td colspan="3" th:text="${member.memberMobile}"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td colspan="3" th:text="${member.memberEmail}"></td>
    </tr>
    </tbody>
</table>

<h2>출국정보</h2>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-auto-close="outside">
        나의 출국 예정일 불러오기
    </button>
    <form class="dropdown-menu p-4">
        <div class="mb-3">
            <label class="form-label">나의 출국정보</label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                아래 출국정보를 선택하시면, 해당 정보로 자동 입력 됩니다.<br>
                출국정보는 MY신라 > 출국정보관리에서 등록/수정이 가능합니다.
            </label>
        </div>
        <div class="mb-3">
            <table>
                <tr>
                    <th>선택</th>
                    <th>출국일시</th>
                    <th>출발공항</th>
                    <th>도착지</th>
                </tr>
                <tr th:each="departure: ${member.departureEntityList}">
                    <td><input type="radio" name="departureRadio" th:attrappend="id=${departureStat.index}"></td>
                    <td th:text="${departure.departureDate}" th:id="${'departureDate' + departureStat.index}"></td>
                    <td th:text="${departure.departureAirport}" th:id="${'departureAirport' + departureStat.index}"></td>
                    <td th:text="${departure.arrivalRegion}" th:id="${'arrivalRegion' + departureStat.index}"></td>
                    <td th:text="${departure.departureNumber}" th:id="${'departureNumber' + departureStat.index}" hidden></td>
                    <td th:text="${departure.departureFeature}" th:id="${'departureFeature' + departureStat.index}" hidden></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<table>
    <tr>
        <th>출국장소</th>
        <td>
            <select name="departureAirport" id="departureAirport">
                <option value="">선택하세요</option>
                <option value="ICN">인천공항</option>
                <option value="GMP">김포공항</option>
                <option value="PUS">김해공항</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>출국일시</th>
        <td>
            <input type="text" id="datepicker" name="departureDate">
        </td>
    </tr>
    <tr>
        <th>편명</th>
        <td>
            <input type="text" name="departureNumber" id="departureNumber">
            <a class="btn btn-primary" data-bs-toggle="modal" id="searchBtn" href="#exampleModalToggle" role="button"
               hidden></a>
            <a class="btn btn-primary" onclick="airportCheck()" role="button">편명 검색</a>
        </td>
    </tr>
    <tr>
        <th>직항/경유 여부</th>
        <td>
            <input type="radio" name="departureFeature" value="직항" checked="checked">직항
            <input type="radio" name="departureFeature" value="경유">경유
        </td>
    </tr>
    <tr>
        <th>목적지</th>
        <td>
            <select name="arrivalRegion" id="arrivalRegion">
                <option value="">선택</option>
                <option value="캐나다">캐나다</option>
                <option value="중국">중국</option>
                <option value="미국, 호주 이외의 모든 국가">미국, 호주 이외의 모든 국가</option>
                <option value="미국/괌/사이판">미국/괌/사이판</option>
                <option value="호놀룰루/버진아일랜드">호놀룰루/버진아일랜드</option>
                <option value="호주">호주</option>
                <option value="대한민국(무착륙관광비행)">대한민국(무착륙관광비행)</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>남기실말씀</th>
        <td><textarea style="resize: none"></textarea></td>
    </tr>
</table>

<h2>할인정보</h2>
<table>
    <tr>
        <th>쿠폰</th>
        <td>
            <select>
                <option value="">선택</option>
                <option th:each="coupon : ${member.couponMemberEntityList}"
                        th:value="${coupon.couponEntity.couponValue}"
                        th:text="${coupon.couponEntity.couponName}"
                        th:if="${coupon.couponStatus.equals('사용 전')}">
                </option>
            </select>
            사용 가능한 쿠폰:
            <label th:each="coupon: ${member.couponMemberEntityList}">
                 <span th:text="${#lists.size(coupon.couponStatus)}"
                       th:if="${coupon.couponStatus.equals('사용 전')}">&nbsp;개</span>
            </label>
        </td>
    </tr>
    <tr>
        <th>적립금</th>
        <td>
            사용 가능한 적립금: <span id="point" th:text="${#aggregates.sum(member.pointEntityList.![pointValue])}">원</span><br>
            <input id="inputPoint" type="text">원
            <input type="checkbox" id="useAll" onclick="useAll()">전액사용
        </td>
    </tr>
</table>

<h2>결제정보</h2>
<table>
    <tr>
        <th>결제수단</th>
        <td>
            <input type="radio" id="card" name="payMethod" value="신용카드" onchange="setDisplay()">신용카드
            <input type="radio" name="payMethod" value="실시간계좌이체" onchange="setDisplay()">실시간계좌이체
            <input type="radio" name="payMethod" value="카카오페이" onchange="setDisplay()" checked>카카오페이
            <input type="radio" name="payMethod" value="네이버페이" onchange="setDisplay()">네이버페이
        </td>
    </tr>
</table>
<!--    신용카드 결제-->
<div id="cardDiv" style="display: none">
    <table>
        <tr>
            <th>카드종류</th>
            <td>
                <select>
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>할부선택</th>
            <td>
                <select>
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
</div>

<h2>최종 결제금액 내역</h2>
<table>
    <tr>
        <td>총 주문 상품</td>
        <td>1개
            <button>상품 수정 ></button>
        </td>
    </tr>
    <tr>
        <td>총 주문금액</td>
        <td></td>
    </tr>
    <tr>
        <td>총 할인금액</td>
        <td></td>
    </tr>
</table>
<table>
    <tr>
        <td>인터넷 회원 할인</td>
        <td>-21,223원</td>
    </tr>
    <tr>
        <td>적립금 사용</td>
        <td>-5000원</td>
    </tr>
    <tr>
        <td>쿠폰 사용</td>
        <td>-10000원</td>
    </tr>
</table>
<p>최종 결제금액</p>
<p>$ 252.45</p>
<p>328.123원</p>
<p><input type="checkbox">주문 정보를 확인하였으며, 구매에 동의합니다.</p>
<button onclick="requestPay(this.name, this.value, this.accessKey)" name="kakaopay.TC0ONETIME">주문하기</button>

<!--     modal-->
<div class="modal fade modal-lg" id="exampleModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="radio" class="btn-check" name="selectAirline" id="KE" autocomplete="off">
                <label class="btn btn-primary" for="KE">대한항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="OZ" autocomplete="off">
                <label class="btn btn-primary" for="OZ">아시아나항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="7C" autocomplete="off">
                <label class="btn btn-primary" for="7C">제주항공</label>

                <input type="radio" class="btn-check" name="selectAirline" id="LJ" autocomplete="off">
                <label class="btn btn-primary" for="LJ">진에어항공</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="flightNext" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                        onclick="flightList(this.name, this.value, this.accessKey)">다음
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="exampleModalToggle2" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">항공편명 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="flight-list">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">이전
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/js/flight.js}"></script>
<script>
    // 출국정보 불러오기
    $("input:radio[name=departureRadio]").click(function () {
        // 출국정보 리스트의 선택한 인덱스 뽑아오기
        const index = $(this).attr("id");
        console.log(index);

        // 뽑아온 인덱스로 설정한 id에 해당하는 데이터 뽑아오기
        let departureDate = document.getElementById("departureDate" + index).innerText;
        let departureAirport = document.getElementById("departureAirport" + index).innerText;
        let arrivalRegion = document.getElementById("arrivalRegion" + index).innerText;
        let departureNumber = document.getElementById("departureNumber" + index).innerText;
        let departureFeature = document.getElementById("departureFeature" + index).innerText;
        console.log("departureDate:" + departureDate);
        console.log("departureAirport:" + departureAirport);
        console.log("arrivalRegion:" + arrivalRegion);
        console.log("departureNumber:" + departureNumber);
        console.log("departureFeature:" + departureFeature);

        // 뽑아온 데이터를 뿌리기
        document.getElementById("datepicker").value = departureDate;
        document.getElementById("departureAirport").value = departureAirport;
        document.getElementById("arrivalRegion").value = arrivalRegion;
        document.getElementById("departureNumber").value = departureNumber;
        if(departureFeature == '직항')
        $("input:radio[name='departureFeature']:radio[value='직항']").prop('checked', true);
        else
        $("input:radio[name='departureFeature']:radio[value='경유']").prop('checked', true);
    });

    function useAll() {
        if ($("#useAll").is(":checked")) {
            console.log("if")
            document.getElementById("inputPoint").value = document.getElementById("point").innerHTML;
        } else {
            console.log("else")
            document.getElementById("inputPoint").value = 0;
        }
    }

    // 결제방법 선택에 따라 테이블 보이기/숨기기
    function setDisplay() {
        if ($('input:radio[id=card]').is(':checked')) {
            $('#cardDiv').show();
        } else {
            $('#cardDiv').hide();
        }
    }

</script>
</html>