@charset "utf-8";

#wrap{width:1200px; margin:0 auto; position:relative;}
/*=========================================================
	header
==========================================================*/
#haeder{position:relative; text-align:right; padding:20px 0;}
#haeder ul li{display:inline-block; vertical-align:middle;}
#haeder ul li a{display:block; padding:0 10px; font-size:14px; letter-spacing:-0.04em; color:#333; font-weight:400; position:relative;}
#haeder ul li a:after{content:''; position:absolute; right:0; top:50%; transform:translateY(-50%); width:1px; height:10px; background:#aaa;}
#haeder ul li:last-of-type a:after{display:none;}
/* search_box */
.search{position:relative; z-index:100;}
.search ul{overflow: hidden}
.invisible {
    display: none;
}
#recent_search{background:#fff; font-size:16px; color:#222; font-weight:700; padding:10px 10px;border: solid silver 1px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px}
#recent_search #recommend_item{padding-top:10px; padding-bottom: 5px;}
#recent_search #recommend_item:hover {background: #efefef; border-radius: 10px}
#recent_search #recommend_item:after{content:''; display:block; clear:both;}
#recent_search .right{float:right}
#recent_search span.text{font-size:15px; color:#222; font-weight: 700; cursor: pointer;}
#recent_search .search-icon{cursor: pointer; margin-right: 10px; margin-left: 10px}
#recent_search span.align-self-end{font-size:15px; color:#666; font-weight: 400}
#recent_search span.btn{cursor:pointer; margin-right: 10px; border:none;}
.search .left_box{display:inline-block; vertical-align:middle; margin-right:100px;}
.search .left_box .logo{width:160px;}
/* img삽입후 주석풀고 .search .left_box .logo a는 삭제해주세요 */
/*.search .left_box .logo a{display:block;}
.search .left_box .logo a img{width:100%;}*/
.search .left_box .logo a{width:100%; display:block; background:#000; height:75px;}
.search .left_box .logo a img{width:100%; height:100%;}
.search .left_box .category{margin-top:10px; position:relative;}
.search .left_box .category > a{font-size:16px; letter-spacing:-0.045em; color:#000; font-weight:bold; text-align:center; border:1px solid #aaa; display:block;}
.search .left_box .category:hover .depth02{display:block;}
.search .left_box .category .depth02{position:absolute; left:0; top:100%; width:100%; display:none; padding:10px 0;  background:#fff;}
.search .left_box .category .depth02 li a{display:block; padding:10px; box-sizing:border-box; font-size:14px; letter-spacing:-0.04em; color:#222; font-weight:300;}
.search .center_box{display:inline-block; vertical-align:middle; width:603px; margin-right:100px; position:relative; height:40px;}
.search .center_box input{width:100%; height:40px; padding:0 60px 0 20px; box-sizing:border-box;}
.search .center_box a{display:block; position:absolute; right:20px; top:50%; transform:translateY(-50%);}
/* img삽입후 주석풀고 .search .left_box .logo a는 삭제해주세요 */
.search .right_box{display:inline-block; vertical-align:middle; width:225px;}
.search .right_box a{display:block;}
.search .right_box a img{width:100%;}
/*.search .right_box a{width:100%; display:block; background:#000; height:80px;}*/
/*=========================================================
	footer
==========================================================*/
.copy{text-align:center; height:50px; background:#fff;}
.copy p{font-size:12px; letter-spacing:-0.025em; color:#222; font-weight:300; line-height:50px;}
/*#footer {height:80px; text-align:center;}*/