@charset "utf-8";

/* basic */
#wrap{width:1200px; margin:0 auto; position:relative;}

/* search_box */
.search{position:relative; z-index:100;}
.search .left_box{display:inline-block; vertical-align:middle; margin-right:100px;}
.search .left_box .logo{width:160px;}
/* img삽입후 주석풀고 .search .left_box .logo a는 삭제해주세요 */
/*.search .left_box .logo a{display:block;}
.search .left_box .logo a img{width:100%;}*/
.search .left_box .logo a{width:100%; display:block; background:#000; height:57px;}
.search .left_box .category{margin-top:10px; position:relative;}
.search .left_box .category > a{font-size:16px; letter-spacing:-0.045em; color:#000; font-weight:bold; text-align:center; border:1px solid #aaa; display:block;}
.search .left_box .category:hover .depth02{display:block;}
.search .left_box .category .depth02{position:absolute; left:0; top:100%; width:100%; display:none; padding:10px 0;  background:#fff;}
.search .left_box .category .depth02 li a{display:block; padding:10px; box-sizing:border-box; font-size:14px; letter-spacing:-0.04em; color:#222; font-weight:300;}
.search .center_box{display:inline-block; vertical-align:middle; width:606px; margin-right:100px; position:relative; height:40px;}
.search .center_box input{width:100%; height:40px; padding:0 60px 0 20px; box-sizing:border-box;}
.search .center_box a{display:block; position:absolute; right:20px; top:50%; transform:translateY(-50%);}
/* img삽입후 주석풀고 .search .left_box .logo a는 삭제해주세요 */
.search .right_box{display:inline-block; vertical-align:middle; width:225px;}
/*.search .right_box a{display:block;}*/
/*.search .right_box a img{width:100%;}*/
.search .right_box a{width:100%; display:block; background:#000; height:80px;}

/* main_visual */
.main_visual{height:500px; overflow:hidden;}
.main_visual .swiper-wrapper{width:100%; height:100%}
.main_visual .swiper-wrapper .swiper-slide{width:100%; height:100%;}
.main_visual .swiper-wrapper .swiper-slide img{width:100%;}

/* img삽입후 삭제 */
.main_visual .swiper-wrapper .swiper-slide:nth-of-type(1){background:#000}
.main_visual .swiper-wrapper .swiper-slide:nth-of-type(2){background:#0f0}
.main_visual .swiper-wrapper .swiper-slide:nth-of-type(3){background:#f00}
/**/

/* prod_list */
.prod_list{font-size:0; letter-spacing:-4px; padding:100px 0 150px;}
.prod_list .main_tit{padding-bottom:30px; text-align:center;}
.prod_list .main_tit p{font-size:34px; letter-spacing:-0.045em; color:#000; font-weight: bold;}
.prod_list ul li{display:inline-block; vertical-align:top; width:calc(25% - 37.5px); margin-right:50px;}
.prod_list ul li:nth-of-type(4n){margin-right:0;}
.prod_list ul li a{display:block;}
/* 이미지 삽입후 삭제 */
/*.prod_list ul li .img_box{width:100%; height:200px; background:#222}*/
/* 이미지 삽입후 삭제 */
/* 이미지 삽입후 바로아랫줄 주석풀어주세요 */
.prod_list ul li .img_box img{width:100%;}
.prod_list ul li .txt_box{padding-top:20px; text-align:center;}
.prod_list ul li .txt_box p.tit{font-size:24px; letter-spacing:-0.045em; color:#000; font-weight:500;}
.prod_list ul li .txt_box p.desc{font-size:22px; letter-spacing:-0.045em; color:#444; font-weight:400;}
.prod_list ul li .txt_box p.txt{font-size:26px; letter-spacing:-0.045em; color:#f60; font-weight:400;}
.prod_list ul li .txt_box p.text{font-size:18px; letter-spacing:-0.045em; color:#999; font-weight:300;}


/* sub_visual */
.sub_visual_tab{padding-top:50px;}
.sub_visual_tab ul li{display:inline-block; vertical-align:middle; position:relative; padding-right:15px;}
.sub_visual_tab ul li:before{content:'>'; position:Absolute; right:0; top:50%; transform:translateY(-50%); font-size:16px;}
.sub_visual_tab ul li:last-of-type:before{display:none;}
.sub_visual_tab ul li a{display:block; font-size:18px; letter-spacing:-0.04em; color:#000; font-weight:500;}
.sub_visual_tab ul li p{font-size:18px; letter-spacing:-0.04em; color:#000; font-weight:500;}

.sub_visual{height:500px; background: #fdeaae; padding:100px; box-sizing:border-box;}
/* 이미지 삽입후 삭제 */
.sub_visual .top_box .img_box{display:inline-block; vertical-align:middle; width:100px; height:70px; background:#000; margin-right:30px;}
/* 이미지 삽입후 삭제 */
/* 이미지 삽입후 주석풀어주세요 */
/*.sub_visual .top_box .img_box{display:inline-block; vertical-align:middle; width:200px;}*/
/*.sub_visual .top_box .img_box img{max-width:100%;}*/
.sub_visual .top_box .txt_box{display:inline-block; vertical-align:middle;}
.sub_visual .top_box .txt_box p{font-size:24px; letter-spacing:-0.045em; color:#888; font-weight:400;}
.sub_visual .top_box .txt_box p b{font-size:28px; color:#222;}
.sub_visual .top_box .txt_box span{display:block; padding-top:10px; font-size:20px; letter-spacing:-0.045em; color:#444; font-weight:400;}
.sub_visual .top_box .txt_box span b{color:#f00; font-weight:400;}
.sub_visual .bot_box{text-align:center; padding-top:50px; font-size:0; letter-spacing:-4px;}
.sub_visual .bot_box ul li{display:inline-block; vertical-align:top; padding:30px 20px 40px; box-sizing:border-box; border-right:2px solid #666; background:#fff; width:400px; height:200px;}
.sub_visual .bot_box ul li:last-of-type{border-right:0;}
.sub_visual .bot_box ul li p{font-size:24px; letter-spacing:-0.045em; color:#666; font-weight:300;}
.sub_visual .bot_box ul li p b{font-size:32px; color:#222;}
.sub_visual .bot_box ul li span{font-size:30px; letter-spacing:-0.045em; color:#222; font-weight:500; display:block; padding-top:10px;}

.mypage_content .left_box{display:inline-block; vertical-align:top; width:300px; margin-right:50px;}
.mypage_content .left_box .tit{width:100%; height:200px; background:#cfffe5; text-align:center;}
.mypage_content .left_box .tit p{font-size:34px; letter-spacing:-0.045em; color:#fff; font-weight:bold; line-height:200px;}
.mypage_content .left_box .box{padding:10px 0; min-height:100px;}
.mypage_content .left_box .box + .box{border-top:1px solid #555;}
.mypage_content .left_box .box p{font-size:18px; letter-spacing:-0.045em; color:#000; font-weight:bold; padding-bottom:5px;}
.mypage_content .left_box .box a{font-size:16px; letter-spacing:-0.045em; color:#666; font-weight:400; padding-left:10px; position:relative; box-sizing:border-box; display:block;}
.mypage_content .left_box .box a:after{content:'-'; position:absolute; left:0; top:0;}
/* right_box 내용 삽입후 삭제 */
.mypage_content .right_box{display:inline-block; vertical-align:top; background:#000; width:845px; height:800px;}
/* right_box 내용 삽입후 삭제 */
/* right_box 내용 삽입후 주석풀어주세요 */
/*.mypage_content .right_box{display:inline-block; vertical-align:top;  width:845px; padding-top:30px;}*/

.manage_content .left_box{display:inline-block; vertical-align:top; width:300px; background: #b8f8f8; padding:0 0 400px;
}
/* logo img삽입후 삭제 */
.manage_content .left_box .logo_box{width:160px; margin:50px auto; text-align:Center;}
.manage_content .left_box .logo_box a{display:block; width:160px; height:75px; background:#000;}
/* logo img삽입후 삭제 */
/* logo img삽입후 주석풀어주세요 */
/*.manage_content .left_box .logo_box a{display:block;}*/
/*.manage_content .left_box .logo_box a img{width:100%;}*/
.manage_content .left_box .logo_box p{font-size:24px; letter-spacing:-0.045em; color:#222; font-weight:bold; padding-top:20px;}
.manage_content .left_box .slide_box .box{width:200px; margin:0 auto; background:#fff;}
.manage_content .left_box .slide_box .box + .box{margin-top:30px;}
.manage_content .left_box .slide_box .box > ul > li > a{display:block; font-size:20px; letter-spacing:-0.04em; color:#fff; font-weight:bold; padding:10px 0; background: #83c5c0;  padding-left:10px;}
.manage_content .left_box .slide_box .box .depth02 li a{display:block; font-size:16px; letter-spacing:-0.04em; color:#666; font-weight:400; padding:5px 0 5px 10px;}
.manage_content .left_box .slide_box .box .depth02{display:none;}
.manage_content .right_box{display:inline-block; vertical-align:top; width:895px; margin-left:-4px;}
.manage_content .right_box .logout_box{text-align:right; width:100%; height:30px; background:#aaa;}
.manage_content .right_box .logout_box a{display:inline-block; font-size:18px; letter-spacing:-0.045em; color:#fff; font-weight:bold; line-height:30px;}
.manage_content .right_box .path_box ul li{display:inline-block; vertical-align:middle; margin-right:20px; position:relative; font-size:24px; letter-spacing:-0.045em; color:#000; font-weight:bold;}
.manage_content .right_box .path_box ul li:after{content:' > '; position:absolute; right:-20px; top:50%; transform:translateY(-50%);}
.manage_content .right_box .path_box ul li:last-of-type{margin-right:0;}
.manage_content .right_box .path_box ul li:last-of-type:after{display:none;}
/* content_box에 내용 삽입후 삭제*/
/*.manage_content .right_box .content_box{width:800px; margin:50px auto; height:800px; background:#000;}*/
/* content_box에 내용 삽입후 삭제*/
/* content_box에 내용 삽입후 주석풀어주세요*/
.manage_content .right_box .content_box{width:800px; margin:50px auto;}
