<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>

        .product_list_head {
            max-width: 1200px;
            margin: auto;
        }

        .product_detail_head {
            max-width: 1200px;
            margin: auto;
            background-color: #bfbfbf;
        }

        .product_detail {
            max-width: 1200px;
            margin: auto;
        }
        .product_detail_detail{
            width: 1200px;
            margin: auto;
            text-align: center;
        }
        .row .product_detail_checked{
            font-size: 20px;
            font-weight: bolder;
            border: solid 1px black;
            height: 50px;
        }
        .row .product_detail_unchecked{
            font-size: 20px;
            border: solid 1px black;
        }
    </style>
</head>

<body>
상품 상세 정보

<div class="nav product_list_head">
    <span>홈</span> &nbsp
    <span>></span> &nbsp
    <span th:text="${product.categoryEntity.categoryName}"></span> &nbsp
    <span>></span> &nbsp
    <span th:text="${product.productBrand}"></span>
</div>

<div class="product_detail_head">
    <h3 th:text="${product.productBrand}"></h3>
    <h5 th:text="${product.productName}"></h5>
</div>
<div class="row product_detail mb-4">
    <div class="col-4">
        <div><img th:src="@{|/upload/${product.productThumbnail}|}" width="400" height="300" alt=""></div>
        <div><span th:text="'상품 만족도 ' + ${product.productStar}"></span></div>
        <div style="font-size: small" class="text-sm-end">
            <span th:if="${like == null}">
                <i class="bi bi-heart" onclick="saveWish()"></i></span>
            <span th:if="${like != null}">
                <i class="bi bi-heart-fill" onclick="deleteWish()"></i></span>
            <span>&nbsp상품 찜하기</span>
        </div>
    </div>
    <div class="col-3 fw-bold text-lg-start fs-5 mt-5">
        <p>정상가</p>
        <p>회원가</p>
        <p>수량</p>
        <div>
            <input type="button" class="btn btn-secondary" onclick="addToCart()" value="장바구니" style="width: 250px">
        </div>
    </div>
    <div class="col">
        <div class="fw-bold text-lg-start fs-5 mt-5">
            <STRIKE th:text="|$${product.productOriginalPrice} |"></STRIKE>
            <STRIKE th:text="'(' + ${#numbers.formatInteger(exchangeRateDTO.exchangeRate*product.productOriginalPrice, 3, 'COMMA')} + '원)'"></STRIKE>
        </div>
        <div style="color: red" class="fw-bold text-lg-start fs-5 mt-3">
            <span th:text="|$${product.productPrice}| "></span>
            <span th:text="'(' + ${#numbers.formatInteger(exchangeRateDTO.exchangeRate*product.productPrice, 3, 'COMMA')} + '원)'"></span>
        </div>
        <div class="fw-bold text-lg-start mt-3">
            <button type="button" class="minus_btn" onclick="qtyCount('minus')">-</button>
            <input type="text" id="productQty" value="1" readonly="readonly" style="text-align:center;"/>
            <button type="button" class="plus_btn" onclick="qtyCount('plus')">+</button>
        </div>
        <div class="fw-bold text-lg-start fs-5 mt-3">
            <input type="button" class="btn btn-danger d-grid gap-2" onclick="addToOrder()" value="주문하기"
                   style="width: 250px">
        </div>
    </div>
</div>

<div class="product_detail_detail">
    <div class="row">
        <div class="col product_detail_checked" style="background-color: red" >
            <span class="">상품정보</span>
        </div>
        <div class="col product_detail_unchecked" style="background-color: blue">상품평</div>
        <div class="col product_detail_unchecked" style="background-color: purple">교환/환불/AS안내</div>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>상품번호</th>
            <th>이름</th>
            <th>상세설명</th>
            <th>원가</th>
            <th>할인율</th>
            <th>인터넷할인가</th>
            <th>인터넷원화</th>
            <th>썸네일</th>
            <th>수량</th>
            <th>찜하기</th>
            <th>장바구니 담기</th>
            <th>바로구매</th>
        </tr>
        <tr>
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDesc}"></td>
            <td><STRIKE th:text="${product.productOriginalPrice}"></STRIKE></td>
            <td th:text="${product.productDiscount}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${#numbers.formatInteger(exchangeRateDTO.exchangeRate*product.productPrice, 3, 'COMMA')} + '원'"></td>
            <td><img th:src="@{|/upload/${product.productThumbnail}|}" width="100" height="100" alt=""></td>
            <td>
                <button type="button" class="minus_btn" onclick="qtyCount('minus')">-</button>
                <!--                <input type="text" id="productQty" value="1" readonly="readonly" style="text-align:center;"/>-->
                <button type="button" class="plus_btn" onclick="qtyCount('plus')">+</button>
            </td>
            <td th:if="${like == null}">
                <i class="bi bi-heart" onclick="saveWish()"></i></td>
            <td th:if="${like != null}">
                <i class="bi bi-heart-fill" onclick="deleteWish()"></i></td>
            <td><input type="button" onclick="addToCart()" value="장바구니 담기"></a></td>
            <td><input type="button" onclick="addToOrder()" value="주문하기"></a></td>
        </tr>
    </table>

    <!--    <div th:each="${session.loginEmail == 'admin'}">-->
    <a th:href="@{|/product/update/${product.productId}|}">수정</a>
    <!--    </div>-->

    상세 설명이미지
    <div th:each="productFile: ${product.productFilesEntityList}">
        <img th:src="@{|/upload/${productFile.productFileName}|}" alt="">
    </div>
</div>

<div>
    상품 후기
    <table class="table">
        <tr>
            <th>상품후기 번호</th>
            <th>상품후기 작성자</th>
            <th>상품후기 작성내용</th>
            <th>상품후기 별점</th>
            <th>상품후기 작성시간</th>
        </tr>
        <tr th:each="productReview: ${product.reviewEntityList}">
            <td th:text="${productReview.reviewId}"></td>
            <td th:text="${productReview.memberEntity.memberId}"></td>
            <td th:text="${productReview.reviewContents}"></td>
            <td th:text="${productReview.reviewStar}"></td>
            <td th:text="${productReview.getCreatedTime()}"></td>
        </tr>
    </table>

</div>
</body>
<script th:inline="javascript">
    function saveWish() {
        if ([[${session.loginEmail}]] == null) {
            alert("로그인 후 찜하실 수 있습니다");
            location.href = "/member/login";
        } else {
            let memberId = [[${session.loginId}]];
            let productId = [[${product.productId}]];
            $.ajax({
                type: "post",
                url: "/product/like",
                data: {
                    "memberId": memberId,
                    "productId": productId
                },
                dataType: "text",
                success: function (result) {
                    alert("찜하기 성공")
                    location.reload();
                }, error: function () {
                    alert("찜하기 실패")
                    location.reload();
                }
            })
        }
    }

    function deleteWish() {
        if ([[${session.loginEmail}]] == null) {
            alert("로그인 후 찜하실 수 있습니다");
            location.href = "/member/login";
        } else {
            let memberId = [[${session.loginId}]];
            let productId = [[${product.productId}]];
            $.ajax({
                type: "post",
                url: "/product/dontLike",
                data: {
                    "memberId": memberId,
                    "productId": productId
                },
                dataType: "text",
                success: function (result) {
                    alert("찜취소 성공")
                    location.reload();
                }, error: function () {
                    alert("찜 취소 실패");
                    location.reload();
                }
            })
        }
    }

    function addToCart() {
        console.log("addToCart함수실행됨")
        const cartQty = document.getElementById("productQty").value;
        const memberId = [[${session.loginId}]];
        const productId = [[${product.productId}]];
        if ([[${session.loginEmail}]] == null) {
            alert("로그인 후 이용할실 수 있습니다.");
            location.href = "/member/login";
        } else if ([[${cart}]] == null) {
            console.log("null로 찍힘")
            $.ajax({
                type: "get",
                url: "/cart/save",
                data: {
                    "memberId": memberId,
                    "productId": productId,
                    "cartQty": cartQty
                },
                dataType: "text",
                success: function (result) {
                    alert("장바구니 담기")
                    location.reload();
                }, error: function () {
                    alert("장바구니 담기 실패")
                }
            })
        } else if ([[${cart}]] != null) {
            console.log("else if 들어옴")
            if (confirm("장바구니에 동일한 상품이 있습니다. 장바구니에 추가하시겠습니까?")) {
                $.ajax({
                    type: "get",
                    url: "/cart/addToCart",
                    data: {
                        "memberId": memberId,
                        "productId": productId,
                        "cartQty": cartQty
                    },
                    dataType: "text",
                    success: function () {
                        alert("장바구니 담기")
                        location.reload();
                    }, error: function () {
                        alert("장바구니 담기 실패")
                    }
                })
            } else {
                location.reload();
            }
        }
    }

    function qtyCount(type) {
        const productQty = document.getElementById("productQty");

        if (type == 'plus') {
            productQty.value = Number(productQty.value) + 1;
        } else {
            if (productQty.value > 1) {
                productQty.value = Number(productQty.value) - 1;
            }
        }
    }

    function addToOrder() {
        const productId = [[${product.productId}]];
        const orderQty = document.getElementById("productQty").value;
        location.href = "/order/save-form&?orderQty=" + orderQty + "&?productId=" + productId;
    }
</script>
</html>