<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
인덱스입니다<br>
<a href="/passport/save-form">여권 정보 관리</a><br>
<a href="/departure/">출국 정보 관리</a><br>
<a href="/member/save">회원가입</a><br>
<a href="/member/login">로그인</a><br><br>

<a href="/product/save">상품등록</a><br>
<a href="/category/save">카테고리등록</a><br>
<a href="/product/">상품목록보기</a><br><br>

<a href="/event/saveForm">이벤트 저장(admin ver.)</a><br>
<a href="/event">이벤트목록(admin ver.)</a><br>
<a href="/coupon/saveForm">쿠폰 저장(admin ver.)</a><br>
<a href="/coupon/findAll">쿠폰목록보기(admin ver.)</a><br>
</body>
</html>