<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경진하소</title>
    <meta charset="UTF-8">

	<script src="js/jquery.js"></script>

	<!-- css 연결 -->
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />

	<!-- swiper 슬라이더 -->
	<link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all" />
	<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div id="wrap">
    <!-- header -->
    <div id="haeder">
        <div class="gnb">
            <ul>
                <li><a href="javascript:;">로그인</a></li>
                <li><a href="javascript:;">회원가입</a></li>
                <li><a href="javascript:;">MY행복</a></li>
                <li><a href="javascript:;">장바구니</a></li>
                <li><a href="javascript:;">주문가능시간</a></li>
                <li><a href="javascript:;">오늘의 환율 1$ = <b id="rate"></b>원</a></li>
            </ul>
        </div>
    </div>
    <!-- header// -->

		<div class="content">
			<!-- header 아래 검색창 -->
			<div class="search">
				<div class="left_box">
					<!-- logo img_size 133 * 57 -->
					<div class="logo">
						<a href="/static">
							<!-- <img src="" alt=""> -->
						</a>
					</div>
					<div class="category">
						<a href="javascript:;">카테고리</a>
						<ul class="depth02">
							<li><a href="javscript:;">1번</a></li>
							<li><a href="javscript:;">2번</a></li>
							<li><a href="javscript:;">3번</a></li>
							<li><a href="javscript:;">4번</a></li>
							<li><a href="javscript:;">5번</a></li>
							<li><a href="javscript:;">6번</a></li>
							<li><a href="javscript:;">7번</a></li>
						</ul>
					</div>
				</div>
				<div class="center_box">
					<div class="input_box">
						<input type="text" placeholder="검색">
						<a href="javascript"><img src="/img/input_click.png" alt=""></a>
					</div>	
				</div>
				<!-- img_size 225 * 80 -->
				<div class="right_box">
					<a href="javascript:;">
						<!-- <img src="" alt=""> -->
					</a>
				</div>
			</div>
			<!-- header 아래 검색창 -->
			<!-- main_visual -->
			<div class="main_visual">
				<ul class="swiper-wrapper">
					<!-- img_size 1400*500 -->
					<li class="swiper-slide">
						<!-- <img src="" alt=""> -->
					</li>
					<li class="swiper-slide">
						<!-- <img src="" alt=""> -->
					</li>
					<li class="swiper-slide">
						<!-- <img src="" alt=""> -->
					</li>
				</ul>
			</div>
			<script>
				var main_visual_sldie = new Swiper('.main_visual', {
    <div class="content">
        <!-- header 아래 검색창 -->
        <div class="search">
            <div class="left_box">
                <!-- logo img_size 133 * 57 -->
                <div class="logo">
                    <a href="/static">
                        <!-- <img src="" alt=""> -->
                    </a>
                </div>
                <div class="category">
                    <a href="javascript:;">카테고리</a>
                    <ul class="depth02">
                        <li><a href="/product/1/">스킨케어</a></li>
                        <li><a href="/product/2/">메이크업</a></li>
                        <li><a href="/product/3/">향수/바디/헤어</a></li>
                        <li><a href="/product/4/">가방/신발/잡화</a></li>
                        <li><a href="/product/5/">시계/쥬얼리</a></li>
                        <li><a href="/product/6/">의류/아이웨어</a></li>
                        <li><a href="/product/7/">스포츠/레저</a></li>
                        <li><a href="/product/8/">디지털/리빙</a></li>
                        <li><a href="/product/9/">식품</a></li>
                        <li><a href="/product/10/">유아동</a></li>
                        <li><a href="/product/11/">남성관</a></li>
                    </ul>
                </div>
            </div>

            <div class="center_box">
                <form action="/product/search/" method="get" name="searchForm" id="searchForm">
                    <div class="input_box">
                        <input type="text"  name="q" id="q" placeholder="상품명 검색">
                        <a href="#"><img src="/img/input_click.png" id="search" alt=""></a>
                    </div>
                </form>
            </div>

            <!-- img_size 225 * 80 -->
            <div class="right_box">
                <a href="javascript:;">
                    <!-- <img src="" alt=""> -->
                </a>
            </div>
        </div>
        <!-- header 아래 검색창 -->
        <!-- main_visual -->
        <div class="main_visual">
            <ul class="swiper-wrapper">
                <!-- img_size 1400*500 -->
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
            </ul>
        </div>
        <script>
            var main_visual_sldie = new Swiper('.main_visual', {
//					loop:true,
					autoplay: {   // 슬라이드 자동
						delay: 6000,  // 멈춰있는시간
						disableOnInteraction: false, // 마우스로 드래그 해도 계속해서 슬라이드 진행
					},
				});
			</script>
			<!-- main_visual -->
		
		
		<!-- footer -->
		
		<!-- footer// -->
	</div>
	<!--html 인클루드시 사용 -->
	</div>
                autoplay: {   // 슬라이드 자동
                    delay: 6000,  // 멈춰있는시간
                    disableOnInteraction: false, // 마우스로 드래그 해도 계속해서 슬라이드 진행
                },
            });

            $("#search").click(function () {
                $("#searchForm").submit();
            });

            $(document).ready(function () {

                const exchangeRate = document.getElementById("rate");
                let exchange = "";

                var myHeaders = new Headers();
                myHeaders.append("apikey", "");

                var requestOptions = {
                    method: 'GET',
                    redirect: 'follow',
                    headers: myHeaders
                };

                fetch("https://api.apilayer.com/exchangerates_data/convert?to=KRW&from=USD&amount=1", requestOptions)
                    .then(response => {
                        return response.json();
                    })
                    .then(json =>{
                        exchangeRate.innerHTML = json["result"].toFixed(2);
                        exchange = json["result"];
                    })
                    .catch(error => console.log('error', error));
            });
        </script>
        <!-- main_visual -->


        <!-- footer -->

        <!-- footer// -->
    </div>
    <!--html 인클루드시 사용 -->
</div>
</body>
</html>