<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경진하소</title>
    <meta charset="UTF-8">

    <script src="js/jquery.js"></script>
    <!-- css 연결 -->
    <link rel="stylesheet" href="css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/basic.css" type="text/css" media="all"/>
    <!-- swiper 슬라이더 -->
    <link rel="stylesheet" href="css/swiper.min.css" type="text/css" media="all"/>
    <script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <!--    최근검색어 클릭시 안보이게 하기 위함-->
    <style>
        .invisible {
            display: none;
        }
        #recent_search{background:#fff; font-size:16px; color:#222; font-weight:700; padding:10px 10px;}
        #recent_search #recommend_item{padding-top:10px}
        #recent_search #recommend_item:after{content:''; display:block; clear:both;}
        #recent_search .right{float:right}
        #recent_search span.text{font-size:15px; color:#222; font-weight: 700}
        #recent_search span.align-self-end{font-size:15px; color:#666; font-weight: 400}
        #recent_search span.btn{cursor:pointer;}
    </style>

</head>
<body>
<div id="wrap">
    <th:block th:replace="include/header :: header"></th:block>
        <!-- header 아래 검색창 -->
        <!-- main_visual -->
        <div class="main_visual">
            <ul class="swiper-wrapper">
                <!-- img_size 1200*500 -->
                <li class="swiper-slide">
                     <img src="/img/event_file.jpg" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="/img/event_file2.jpg" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="/img/event_file3.jpg" alt="">
                </li>
            </ul>
        </div>
<!--         상품창-->
        <div class="prod_list" style="overflow:hidden;">
            <div class="main_tit">
                <p>오늘의 상품</p>
            </div>
            <ul class="swiper-wrapper">
                <li th:each="product: ${productList}" class="swiper-slide">
                    <a th:href="@{|/product/detail/${product.productId}|}">
                        <!-- img_size 310*200 -->
                        <div class="img_box">
                            <img th:src="@{|/upload/${product.productThumbnail}|}" width="252" height="200" alt="">
                        </div>
                        <div class="txt_box">
                            <p class="tit" th:text="${product.productBrand}"></p>
                            <p class="desc" th:text="${product.productName}"></p>
                            <p class="tit"><STRIKE th:text="|$${product.productOriginalPrice}|"></STRIKE></p>
                            <p class="txt" th:text="|$${product.productPrice}|"></p>
                            <p class="text"
                               th:text="'(' + ${#numbers.formatInteger(session.exchangeRate*product.productPrice, 3, 'COMMA')} + '원)'"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <script>
            var main_prod = new Swiper('.prod_list', {
//					loop:true,
                //오늘의상품이 4개 이상일시 아래 주석 풀어주세요
//                 autoplay: {   // 슬라이드 자동
//                     delay: 4000,  // 멈춰있는시간
//                     disableOnInteraction: false, // 마우스로 드래그 해도 계속해서 슬라이드 진행
//                 },
                // loop:true,
                slidesPerView: 4,
                spaceBetween: 50,
            });
        </script>
        <!-- 상품창 -->
        <!-- main_visual -->
        <!-- footer -->
        <!-- footer// -->
    </div>
</div>
</body>

<script th:inline="javascript">
    var main_visual_slide = new Swiper('.main_visual', {
        // loop:true,
        autoplay: {   // 슬라이드 자동
            delay: 6000,  // 멈춰있는시간
            disableOnInteraction: false, // 마우스로 드래그 해도 계속해서 슬라이드 진행
        },
    });


    $("#search").click(function () {
        $("#searchForm").submit();
    });


</script>
</html>