<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경진하소</title>
    <meta charset="UTF-8">

    <script src="/js/jquery.js"></script>

    <!-- css 연결 -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all"/>

    <!-- swiper 슬라이더 -->
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all"/>
    <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <!--    최근검색어 클릭시 안보이게 하기 위함-->
    <style>
        .invisible {
            display: none;
        }
        #recent_search{background:#fff; font-size:16px; color:#222; font-weight:700; padding:10px 10px;}
        #recent_search #recommend_item{padding-top:10px}
        #recent_search #recommend_item:after{content:''; display:block; clear:both;}
        #recent_search .right{float:right}
        #recent_search span.text{font-size:15px; color:#222; font-weight: 700}
        #recent_search span.align-self-end{font-size:15px; color:#666; font-weight: 400}
        #recent_search span.btn{cursor:pointer;}
    </style>

</head>
<body>
<div id="wrap">
    <!-- header -->
    <div id="haeder">
        <div class="gnb">
            <ul>
                <li><a href="/member/login">로그인</a></li>
                <li><a href="/member/save">회원가입</a></li>
                <li><a href="/myPageMain">MY행복</a></li>
                <li><a href="/cart/cartList">장바구니</a></li>
                <li><a href="javascript:;">오늘의 환율 1$ = <b id="rate" th:text="${session.exchangeRate}"></b>원</a></li>
            </ul>
        </div>
    </div>
    <!-- header// -->

    <div class="content">
        <!-- header 아래 검색창 -->
        <div class="search">
            <div class="left_box">
                <!-- logo img_size 133 * 57 -->
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.jpg" alt="">
                    </a>
                </div>
                <div class="category">
                    <a href="javascript:;">카테고리</a>
                    <ul class="depth02">
                        <li th:each="category: ${categoryList}">
                            <a th:href="@{|/product/${category.categoryId}/|}" th:utext="${category.categoryName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center_box">
                <form action="/product/search/" method="get" name="searchForm" id="searchForm">
                    <div th:if="${session.loginId}">
                        <div class="input_box">
                            <input type="text" name="q" id="q" placeholder="상품명 검색">
                            <div id="recommend">
                                <div id="recent_search"></div>
                            </div>
                            <a href="#"><img src="/img/input_click.png" id="search" alt=""></a>
                        </div>
                    </div>
                    <div th:unless="${session.loginId}">
                        <div class="input_box">
                            <input type="text" name="q" placeholder="상품명 검색">
                            <a href="#"><img src="/img/input_click.png" alt=""></a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- img_size 225 * 80 -->
            <div class="right_box">
                <a href="javascript:;">
                    <!-- <img src="" alt=""> -->
                </a>
            </div>
        </div>
        <!-- header 아래 검색창 -->
        <!-- main_visual -->
        <div class="main_visual">
            <ul class="swiper-wrapper">
                <!-- img_size 1400*500 -->
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
                <li class="swiper-slide">
                    <!-- <img src="" alt=""> -->
                </li>
            </ul>
        </div>
        <!-- 상품창 -->
        <div class="prod_list">
            <div class="main_tit">
                <p>오늘의 상품</p>
            </div>
            <ul>
                <li th:each="product: ${productList}">
                    <a th:href="@{|/product/detail/${product.productId}|}">
                        <!-- img_size 310*200 -->
                        <div class="img_box">
                            <img th:src="@{|/upload/${product.productThumbnail}|}" width="252" height="200" alt="">
                        </div>
                        <div class="txt_box">
                            <p class="tit" th:text="${product.productBrand}"></p>
                            <p class="desc" th:text="${product.productName}"></p>
                            <p class="tit"><STRIKE th:text="|$${product.productOriginalPrice}|"></STRIKE></p>
                            <p class="txt" th:text="|$${product.productPrice}|"></p>
                            <p class="text"
                               th:text="'(' + ${#numbers.formatInteger(session.exchangeRate*product.productPrice, 3, 'COMMA')} + '원)'"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 상품창 -->
        <!-- main_visual -->


        <!-- footer -->

        <!-- footer// -->
    </div>
    <!--html 인클루드시 사용 -->
</div>
</body>
<script>
    var main_visual_sldie = new Swiper('.main_visual', {
//					loop:true,
        autoplay: {   // 슬라이드 자동
            delay: 6000,  // 멈춰있는시간
            disableOnInteraction: false, // 마우스로 드래그 해도 계속해서 슬라이드 진행
        },
    });

    $("#search").click(function () {
        $("#searchForm").submit();
    });

    $(document).ready(function () {

        const exchangeRate = document.getElementById("rate");
        let exchange = "";

        var myHeaders = new Headers();
        myHeaders.append("apikey", "");

        var requestOptions = {
            method: 'GET',
            redirect: 'follow',
            headers: myHeaders
        };

        fetch("https://api.apilayer.com/exchangerates_data/convert?to=KRW&from=USD&amount=1", requestOptions)
            .then(response => {
                return response.json();
            })
            .then(json => {
                exchangeRate.innerHTML = json["result"].toFixed(2);
                exchange = json["result"];
            })
            .catch(error => console.log('error', error));
    });

    //최근 검색어 창 띄우는 함수
    $("#q").mousedown(function () {
        const recommendBox = document.querySelector("#recommend");
        const loginId = [[${session.loginId}]];
        const recentSearch = document.getElementById("recent_search");
        recommendBox.classList.remove('invisible');

        $.ajax({
            method: 'post',
            url: '/search/find',
            data: {
                'loginId': loginId,
            },
            dataType: 'json',
            success: function (res) {

                let output = "<div>최근 검색어</div>\n";

                for (let i = 0; i < res.length; i++) {
                    output += "<div id=\"recommend_item\" class=\"item\">\n";
                    output += "<span class=\"text\" onclick=\'putSearch(" + '"' + res[i].searchName + '"' + ")\'>" + res[i].searchName + "</span>\n";
                    output += "<div class=\"right\">\n"
                    output += "<span class=\"small align-self-end\">" + res[i].searchCreatedTime + "</span>\n";
                    output += "<span class=\"small align-self-end btn\" onclick=\'searchDelete(" + res[i].searchId + ")\'>X</span>\n";
                    output += "</div>";
                    output += "</div>";
                }
                recentSearch.innerHTML = output;

            }, error: function () {
                alert("에러입니다.");
            }
        })
    });

    //최근 검색어 삭제하는 함수
    const searchDelete = (searchId) => {
        $.ajax({
            method: "post",
            url: "/search/delete",
            data: {"searchId": searchId},
            dataType: "text",
            success: function (res) {
                console.log(res);
                location.reload();
            }, error: function () {
                alert("ajax 오류")
            }
        });
    };

    //최근 검색어 클릭시 검색창에 넣어지는 함수
    const putSearch = (searchName) => {
        const recommendBox = document.querySelector("#recommend");
        const inputBox = document.querySelector("input");

        inputBox.value = searchName;
        recommendBox.classList.add('invisible');
    }
</script>

</html>