<!doctype html>
<html lang="ko">
<head>
	<title>경진하소</title>
	<meta charset="UTF-8">

	<script src="/js/jquery.js"></script>

	<!-- css 연결 -->
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />

	<!-- swiper 슬라이더 -->
	<link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="all" />
	<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
	<div id="wrap">
		<!-- header -->
			<div id="haeder">
				<div class="gnb">
					<ul>
						<li><a href="javascript:;">로그인</a></li>
						<li><a href="javascript:;">회원가입</a></li>
						<li><a href="javascript:;">MY행복</a></li>
						<li><a href="javascript:;">장바구니</a></li>
						<li><a href="javascript:;">주문가능시간</a></li>
						<li><a href="javascript:;">오늘의 환율 1$ = <b>1,299.3</b>원</a></li>
					</ul>
				</div>
			</div>
		<!-- header// -->

		<div class="content">
			<!-- header 아래 검색창 -->
			<div class="search">
				<div class="left_box">
					<!-- logo img_size 133 * 57 -->
					<div class="logo">
						<a href="/">
							<!-- <img src="" alt=""> -->
						</a>
					</div>
					<div class="category">
						<a href="javascript:;">카테고리</a>
						<li>
							<a href="/product/1/">스킨케어</a>
							<a href="/product/2/">메이크업</a>
							<a href="/product/3/">향수/바디/헤어</a>
							<a href="/product/4/">가방/신발/잡화</a>
							<a href="/product/5/">시계/쥬얼리</a>
							<a href="/product/6/">의류/아이웨어</a>
							<a href="/product/7/">스포츠/레저</a>
							<a href="/product/8/">디지털/리빙</a>
							<a href="/product/9/">식품</a>
							<a href="/product/10/">유아동</a>
							<a href="/product/11/">남성관</a>
						</li>
					</div>
				</div>
				<div class="center_box">
					<div class="input_box">
						<input type="text" placeholder="검색">
						<a href="javascript"><img src="/img/input_click.png" alt=""></a>
					</div>	
				</div>
				<!-- img_size 225 * 80 -->
				<div class="right_box">
					<a href="javascript:;">
						<!-- <img src="" alt=""> -->
					</a>
				</div>
			</div>
			<!-- header 아래 검색창 -->
			<!-- sub_visual -->
			<div class="sub_visual_tab">
				<ul>
					<li><a href="/">홈</a></li>
					<li><p>Mypage</p></li>
				</ul>
			</div>
			<div class="sub_visual">
				<div class="top_box">
					<!-- img_size 100*70 -->
					<div class="img_box">
					<!-- <img src="" alt=""> -->
					</div>
					<div class="txt_box">
						<p><b>OOO님 </b>브론즈</p>
						<span>온라인멤버십 <b>최대 10% </b>할인혜택을 받으실 수 있습니다.</span>
					</div>
				</div>
				<div class="bot_box">
					<ul>
						<li>
							<p><b>할인쿠폰 </b>(개)</p>
							<span>0</span>
						</li>
						<li>
							<p><b>적립금 </b>(원)</p>
							<span>0</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- sub_visual -->

			<!-- mypage content -->
			<div class="mypage_content">
				<div class="left_box">
					<div class="tit">
						<p>MY행복</p>
					</div>
					<div class="box">
						<p>나의 주문 내역</p>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
					</div>
					<div class="box">
						<p>나의 쇼핑 혜택</p>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
					</div>
					<div class="box">
						<p>나의 쇼핑 컨텐츠</p>
						<a href="javascript:;">찜상품</a>
						<a th:href="@{|/review/findByMemberId/${session.loginId}|}">나의 후기</a>
						<a href="javascript:;">1:1 채팅</a>
					</div>
					<div class="box">
						<p>나의 회원 정보</p>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
						<a href="javascript:;">주문내역 / ㅁㄴㅇㅁㄴㅇ</a>
					</div>
				</div>
				<div class="right_box">
					<!-- 내용삽입자리 -->
				</div>
			</div>
			<!-- mypage content -->
		
		<!-- footer -->
		
		<!-- footer// -->
	</div>
	<!--html 인클루드시 사용 -->

</body>
</html>