<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
나의 후기
<table>
    <tr>
        <th>상품평</th>
        <th>평점</th>
        <th>상품명</th>
        <th>구매여부</th>
        <th>작성일</th>
        <th>수정/삭제</th>
    </tr>
    <tr th:each="review: ${reviewList}">

    </tr>
</table>
</body>
</html>